[2015-03-30 13:22] MartinL0815 opened #1 "Since updating to 1.3 VS2013 crashes on building"
Hi,

what can I do to support you fixing the crash?

Currently I disabled BuildVision, so I could enable it again and try to "debug" VS2013 after its crash starting to build?

Best regards,

Martin

[2015-03-30 13:23] MartinL0815 opened #2 "Do you plan to continue the UserVoice forum? If please reconsider to add URL again?"
Hi,

Since the update to 1.3 I didn't found the URL to the UserVoice forum again in the UI of BuildVision, nor in its settings.

May you add the URL again? And a direct URL to github?

Best regards,

Martin

[2015-03-30 16:07] nagits commented on #1
Hi Martin,

I think I've found the reason.
To confirm my assumption, please check whether you have the following error in the Windows Event Log (Win+R, ```eventvwr /c:Application```):
* Source: .NET Runtime
* EventID: 1026
[code]

[2015-03-30 16:39] nagits commented on #2
Hi Martin,

No, I don't. I would like to use GitHub Issues instead of UserVoice forum.
I will think over where to add the URL to the github repo in the UI.

[2015-03-30 16:59] MartinL0815 commented on #1
Here the events from a just forced crash of VS2013 by enabling BuildVision and starting a build:

[code]

After the crash I hit "debug" and got the following "extended" information:

    System.InvalidOperationException was unhandled
    Message: An unhandled exception of type 'System.InvalidOperationException' occurred in WindowsBase.dll
    Additional information: '[Unknown]' property does not p

[2015-03-30 17:02] MartinL0815 commented on #2
Thanks for the information! :+1:

[2015-03-30 17:07] nagits commented on #1
Thanks!

[2015-03-30 17:10] #1 closed

[2015-04-09 10:37] #2 closed

[2015-04-09 10:41] MartinL0815 opened #3 "Why not starting/showing elapsed time in the row of the current build project?"
Hi,

I don't know, if I remember it correctly, but I feel like missing the elapsed time in the row of the currently building project!

In the current BuildVision version the elapsed time will show up after a project got built, but why not starting to show the increasing elapsed time in the row of the currently building project with starting the build of this project?

Kind regards,

Martin

[2015-04-09 17:32] nagits commented on #3
@MartinL0815 Great idea, I'll try to implement it!

For now and in previous versions [BuildElapsedTime](https://github.com/nagits/BuildVision/blob/0a3f0b8b13011fcfe36a2afb51e71d9ae396ec1e/Source/Tool/Models/ProjectItem.cs#L249-L258) is computed simply as a difference between BuildFinishTime and BuildStartTime. But during the build BuildFinishTime is null, so BuildElapsedTime also null.

[2015-04-12 13:18] #3 closed

[2015-04-30 09:15] PaulSinnema opened #4 "Clicking on errors jump to wrong source file"
Sometimes when error messages are shown and I click on them Visual Studio jumps to the wrong source file in the project / solution. My guess it has to do something with names not being unique in our projects. We for instance have many 'Default.aspx.cs' files. Can it be that the algorithm that searches for files in the solution / project returns the first hit on just the Filename and not the Fullpa

[2015-04-30 11:22] nagits commented on #4
Hi @PaulSinnema,
I just reproduced the case, when the project have many 'Default.aspx.cs' files, and found a bug in the [search algorithm](https://github.com/nagits/BuildVision/blob/ad6855b378a63beeeb619ac3fb1b5e61c5045239/Source/Helpers/SolutionProjectsExtensions.cs#L519). It uses relative paths (e.g. Default.aspx.cs or OtherFolder/Default.aspx.cs or Account/Login.aspx.cs) and works well in most

[2015-04-30 13:40] #4 closed

[2015-04-30 14:16] PaulSinnema commented on #4
Hi Aleksey,

That was fast. Thanks.

Regards

Paul

Van: Aleksey Nagovitsyn [mailto:notifications@github.com]
Verzonden: donderdag 30 april 2015 15:40
Aan: nagits/BuildVision
CC: PaulSinnema
Onderwerp: Re: [BuildVision] Clicking on errors jump to wrong source file (#4)

Closed #4 <https://github.com/nagits/BuildVision/issues/4> .

—
Reply to this email directly or view it on GitHub <https://github

[2015-05-05 12:30] ascottvhz opened #5 "Sort doesn't update during build"
Since the 1.3 release I'm finding that the sort order doesn't update if "Fill projects list on build begin" is enabled.  Even if I set the sort to BuildOrder, the list remains sorted by project name. I think that the sort should be applied after each project build completes.

Thanks for a great tool.

[2015-05-15 10:18] Bertk opened #6 "Build duration does not show information for hours"
I like this extension but I miss some Information in the "build solution" header. Unfortunately I have a very large solution with approx. 300 C++ targets and some C#. The duration exceeds 1 hour.

[2015-05-15 10:23] Bertk opened #7 "performance proplems with sorting of project grid"
I observed a big performance impact when I activate the sorting of the project grid using the **build start time**. After disabling the sort feature the performance is back to normal.

[2015-05-15 16:58] nagits commented on #6
Hi @Bertk,
This header may be configured via Tools -> Options... -> BuildVision -> Build Messages

[2015-05-15 17:16] nagits commented on #7
Thanks for reporting this issue.
It is a [known problem](https://buildvision.uservoice.com/forums/193886-general/suggestions/6779418-make-it-way-more-faster) in BuildVision for large solutions.

[2015-05-16 11:16] Bertk commented on #6
Thanks for the hint. I missed this configuration item.

[2015-05-16 11:16] #6 closed

[2015-06-10 06:00] duszekmestre opened #8 "Build slow down with this extension"
Normally my project builds in less than one minute. But with Build Vision extension it works over four minutes. Please make no impact on build time with this tool.

[2015-06-24 10:24] Licwin opened #9 "Taskbar progress problem"
Hello! Thank you, great extension!

I have a little problem with taskbar progress. If I select to build one project in configuration manager ![](http://i.imgur.com/qcrbIhn.png),

the progress in task bar will be shown like I building all projects:

![](http://i.imgur.com/gCZqq3p.png.)
Expected progress is like that:

![](http://i.imgur.com/9qc5QJT.png)

[2015-07-12 18:59] DotNetSparky opened #10 "'Stop building on the first error" & database projects cause VS 2015 RC to hang"
With BuildVision enabled, and the "Stop building on the first error" option enabled, if there is a build error when building a database project, then VS hangs/locks up (completely unresponsive, idle CPU... "deadlock" type behaviour)... have to ultimately end-task VS.

In my specific case, it was a typo in a post-deploy script.  The hang would occur right after `Writing model to [project-path]\obj\

[2015-07-13 05:52] nagits commented on #10
Hi @DotNetSparky,
thanks for reporting this!

You have described in great detail the issue, thanks :+1:!

[2015-08-05 12:24] igorushi opened #11 "Build time counter resets to zero after hour of build."
Hi,
First of all thanks for nice extension. I know that long builds are not very usual but it will be nice if buildvision could show also hours (or more than 59 minutes).
Thanks.

[2015-08-05 19:39] nagits commented on #11
Hi @igorushi,
You can configure BuildVision via "TOOLS -> Options... -> BuildVision".

Then "Build Messages -> Elapsed time":
* change "Time template" to TotalMinutes:Seconds
* or "Time format" to hh\\:mm\\:ss

[2015-08-05 19:46] igorushi commented on #11
Cool, it looks like [total_minutes:seconds] format is great for me.

Thank you.

From: Aleksey Nagovitsyn [mailto:notifications@github.com]
Sent: Wednesday, August 5, 2015 10:39 PM
To: nagits/BuildVision <BuildVision@noreply.github.com>
Cc: igorushi <igor.altman@gmail.com>
Subject: Re: [BuildVision] Build time counter resets to zero after hour of build. (#11)

Hi @igorushi <https://github.com/igor

[2015-08-05 20:07] #11 closed

[2015-08-17 01:06] hweight opened #12 "screen keeps dying"
HI.. i have been using build vision on VS 2012 and 2013, and at random times, the interface for build vision dies.  when it dies, it takes the error list and output tabs as well, so they appear the same as well.
Sometimes build vision comes back to normal, but that is after a random number of builds. in some cases, will need to exit VS and restart it to see anything in that panel (ie, errors).

![

[2015-08-17 08:41] igorushi commented on #12
Hi have similar issue in VS2015:
![image](https://cloud.githubusercontent.com/assets/7131092/9301141/e61385c6-44d4-11e5-9bef-b331d20ec557.png)

[2015-09-25 18:35] igorushi opened #13 "Long multi-line error messages get truncated"
A picture is worth a 1000 words :)
![image](https://cloud.githubusercontent.com/assets/7131092/10108990/db2bd1b0-63cc-11e5-99bd-d26391eb67d4.png)

This is how it looks in a VS error list :
![image](https://cloud.githubusercontent.com/assets/7131092/10109090/83de3fb4-63cd-11e5-8c8f-77ab069b615c.png)

[2015-09-27 01:03] tomzorz opened #14 "Add new building state: deploying"
Title says it all: it'd be awesome for UWP projects :)

[2015-10-13 07:23] jsvanbethlehem opened #15 "Optionally hide 'UpToDate' targets"
It would be very helpful if the BuildVision output window could optionally hide all the 'UpToDate' projects. Currently, when working on large solutions, the stuff that is actually (incrementally) build becomes a bit hard to see between all the up-to-date targets.

Ideally this would be a checkbox on the BuildVision output pane, allowing switching between hiding/showing while a build is running. Bu

[2015-11-01 14:14] pavelhritonenko commented on #8
+1

It's takes about 2.5 minutes to check my solution is up to date. When I switch from BuildVision window to Build Output window (they are in the same dock) it takes about 4.5sec (~180 projects).

So it's unusable in my case.

[2015-11-09 17:18] vaindil opened #16 "BV causes taskbar icon to flash"
When a site builds as a result of clicking the Run button, the VS icon on the taskbar gets a green background and it stays there until the VS window is given focus. Is it possible to fix this? The taskbar icon normally fills up with the progress of the build whether BV is running or not, but it looks like BV doesn't clear it out like VS normally does.

![capture](https://cloud.githubusercontent.co

[2015-11-09 17:28] nagits commented on #16
Hi @vaindil,

You can configure it via Tools -> Options... -> BuildVision -> General
![image](https://cloud.githubusercontent.com/assets/4932134/11040961/30a11e18-8739-11e5-8d90-b84f1f832d8c.png)

[2015-11-09 17:29] vaindil commented on #16
Well, I should've checked there first. Thank you!

[2015-11-09 17:29] #16 closed

[2015-12-01 18:53] brobichaud commented on #8
Yeah I too was disappointed to see this. I love the extension and the info it shows but the build time hit is too expensive. My solution went from 45 secs to 75 secs. May not sound like much off hand but that is 166% of the original time.

[2016-04-22 23:13] xperiandri opened #17 "Visual Studio 15 support"

[2016-07-20 08:12] devployment commented on #7
Is the root cause known? Anybody ever looked into this? For me with a current solution of 106 projects it's rebuilding in 30s without BuildVision. Showing BuildVision it takes close to 4 minutes.

Having less projects should be the way to go anyway. But would love to have BuildVision as speedy as the regular output. :)

[2016-08-30 04:19] YousufAzadSami opened #18 "Build finish time is not correct"
In the picture below you can see that the Build finish time is not right, the elapsed time is about 16 sec which is expected.

![2016-08-30 10_13_06-vizsportsapplications - microsoft visual studio](https://cloud.githubusercontent.com/assets/12533812/18075895/e165e51e-6e9a-11e6-88c0-530429929046.png)

**PS**: Could not reproduce the error

[2016-09-03 15:53] xperiandri commented on #17
Basically it is enough to increase allowed version in `extension.vsixmanifest`

[2016-09-03 16:28] xperiandri commented on #17
[code]

[2016-11-04 10:39] mike03081972 commented on #15
Hello,

This option will be very hopefull for me too :)

[2016-11-23 15:57] dsoronda commented on #17
+1 for VS 2017

[2016-11-26 23:35] xperiandri commented on #17
Actually it throws lots of exceptions.
So it requires modification for VS 2017

[2016-11-28 12:01] Janek91 opened #19 "Extension prevents output window to show in VS 15"
When installed in Visual Studio 2015 - Output window is prevented from show up. Because of that it's impossible i.e. to add new item to project. Only workaround I've found to fix it, is to disable extension.

[2017-03-07 20:16] sergey-tihon commented on #17
👍 plz plz plz 👍

[2017-03-10 10:48] roalz commented on #17
Would it make sense to change the title to "Visual Studio 2017 support", now that VS2017 is out?

+1MILLION for VS 2017 support, anyway ;-)

[2017-03-10 10:49] roalz commented on #19
Please change the title, it may confuse between VS 2015 and VS "15" (now VS 2017)

[2017-03-21 02:00] calloncampbell commented on #17
+1 for VS2017 support please.

[2017-03-21 07:56] StefanKert commented on #17
Created a fork and added support for VS 2017:

[https://github.com/StefanKert/BuildVision/releases](https://github.com/StefanKert/BuildVision/releases)

Will get in touch with the repo maintainer. Probably we can fix something to get this repo maintained again ;)

Greets

[2017-03-21 09:23] roalz commented on #17
Great Stefan! It would be great to keep this repo alive and maintained again, with "official" updates to the VS MarketPlace as well.

[2017-03-21 09:28] StefanKert commented on #17
Yeah. Fairly busy today. I will get in touch with maintainer of the repo asap, so we can push the package to VS Marketplace.

[2017-03-21 09:30] roalz commented on #17
No worries, we are all busy (more or less), take your time.
It's already great to have a release package supporting VS2017! Thanks

[2017-03-24 09:15] StefanKert commented on #17
@roalz Just a little update. I contacted @nagits on this case via mail, but haven´t gotten a response yet. Stil waiting. Stay tuned for updates.

[2017-04-06 11:39] StefanKert opened #21 "New maintainer for this project"
Hey guys,

like I´ve been mentioning in #17 I´m planning to becoming the maintainer for this project. A colleague of mine @tschmiedlechner and me have been working through the code for the last four weeks and now we think that we should take the next step and make it official.

If @nagits agrees we would like to take over this project and try to bring in the ideas and thoughts we gathered in the l

[2017-04-06 12:47] nagits commented on #21
Oh, guys...

I'm really happy that my work are not wasted and the project is used by quite a lot of people.

I stopped supporting this project, because I no longer use VisualStudio & C# in my work and I don't have VisualStudio installed on my computer.

Yes, of course, I'm not against any initiative which will save life of this tool - I will be doubly happy!
@StefanKert, @tschmiedlechner, Great jo

[2017-04-06 13:42] StefanKert commented on #21
Hey @nagits,

thanks for responding that fast 👍. Nevermind maybe sent it to the wrong email address. I guess it would be helpful to work out a migration plan that includes all the pieces that need to be moved.

- [ ] GitHub Repository
- [ ] Appveyor (I got a running build already so probably we can take that one [Build](https://ci.appveyor.com/project/StefanKert/buildvision))
- [ ] [Visual Studio

[2017-04-07 11:31] NickCraver commented on #21
Very happy to see this happen - we're already running on VS 2017 internally thanks to https://github.com/Konamiman/BuildVision (@Konamiman will be excited this is getting love). Let us know if we can help.

[2017-04-08 10:10] StefanKert commented on #21
Thanks @NickCraver for the offer. I am really glad that we are already getting positive feedback on our plans. What I think is really needed is some more feedback on the work ideas, or problems people have with BuildVision. We will try to get the community in for this project and enable devs to contribute here more easily

Like I´ve been mentioning we are planning to get to a point where getting s

[2017-04-08 11:13] NickCraver commented on #21
@StefanKert That sounds like a good split of concerns to me. As a user, my main issue with it today is the performance impact. I think that'll be insanely easier to keep an eye on and have tests for with this split. Please ping when you're closer on this - I'd love to dig into some things there and this layout would save a ton of time.

[2017-04-08 11:27] StefanKert commented on #21
@NickCraver Yep performance is a big impact right now. We´ve already spotted some parts in the source code that might cause BuildVision to slow down. Will get back to you as soon as we´ve some results.

[2017-05-06 05:52] StefanKert commented on #21
Hey guys,

just wanted to give you a quick update on the current state of our "migration".

We´ve refactored the codebase so that the proposed project architecture is implemented now. It is possible to start the Extensionview as seperate Window now in a seperate Testproject, so no need for launching another Visual Studio instance. For now it is not possible to add a solution or a project to the st

[2017-05-27 16:47] agross opened #22 "Cannot install in VS 2017"
When I install the vsix from [here](https://github.com/StefanKert/BuildVision/releases/tag/v1.5.0), the installation fails:

[code]

[2017-05-27 20:03] agross commented on #22
Seems to be related to a named VS instance. On a machine without named instances the installer works.

[2017-06-08 18:06] StefanKert commented on #22
It seems like this is an issue with the current release of VS 2017. [This thread](https://developercommunity.visualstudio.com/content/problem/32018/vsixinstallerexe-cant-install-extensions-when-visu.html) lists a workaround.

I guess this will be fixed in a release in the nearer future but for now you could try the solution in this thread.

[2017-06-08 18:21] agross commented on #22
@StefanKert Thanks, I removed the named instance. It was created as named because I installed Build Tools before VS. It's not clear why I needed a named installation in the first place, but removing Build Tools made the VS 2017 install unnamed and the BuildVision installation succeeded.

[2017-06-19 15:51] #5 closed

[2017-06-19 18:41] StefanKert commented on #21
@nagits Since we´ve got the Pull Request merged successfully I wanted to get back to the steps we should take to get this up and running again.

As I mentioned before we need to proceed with the following steps:

- [ ] GitHub Repository
- [ ] Appveyor (I got a running build already so probably we can take that one [Build](https://ci.appveyor.com/project/StefanKert/buildvision))
- [ ] [Visual Studi

[2017-06-19 21:52] nagits commented on #21
@StefanKert
1. Let's transfer repo ownership over to you.
2. OK.
3. I've added user stefan.kert@sbg.at as Collaborator into the current publisher account on marketplace.visualstudio.com (visualstudiogallery.msdn.microsoft.com).

[2017-06-19 22:00] nagits commented on #21
Error: `StefanKert already has a repository in the nagits/BuildVision network.`
Probably, you need to remove the fork. Renaming is not a solution.

[2017-06-20 04:47] StefanKert commented on #21
@nagits great! Sry i removed the repo. The transfer should work now

[2017-06-20 07:47] StefanKert commented on #22
Ok fine. Since this is a VS 2017 issue I am closing this issue. If there´s still a issue with this we can reopen it.

[2017-06-20 07:47] #22 closed

[2017-06-22 12:25] Itori commented on #21
@StefanKert with the deletion of your repo, the tag 1.5.0 doesn't exist anymore.
 Could you create the release back ?

[2017-06-22 12:40] StefanKert commented on #21
@Itori  Thanks dude for pointing this out..

You can grab a running version by following this [link](https://github.com/StefanKert/BuildVision/releases/tag/untagged-e32c244fb98652d81e0f )

[2017-06-22 12:50] StefanKert commented on #17
Like mentioned in #21 we´ve released a version that should work with VS 2017 and should have some minor improvements. We´ve restructured the project and changed many things. Since this issue is targeting VS 2017 (15) I´m closing this now and wanted to ask you that we really like to ask you if you´ve got some time to test the [Current Pre-Release](https://github.com/StefanKert/BuildVision/releases/

[2017-06-22 12:50] #17 closed

[2017-06-22 12:51] StefanKert commented on #19
@Janek91 Is this still relevant? Are you still facing issues with BuildVision. Please let me know.

[2017-06-22 13:03] StefanKert commented on #13
Seems like we´ve got a problem with a max-height in the errors grid. I was able to reproduce it:

![image](https://user-images.githubusercontent.com/7176615/27435234-cea8222a-575b-11e7-886e-88c61f9d6624.png)

I will take a look at it asap.

[2017-06-22 13:36] xperiandri commented on #17
Cool! Installing!

[2017-06-22 15:22] jbaute opened #24 "Pre-release vsix 1.4.0.57 - error when installting"
Tried the new VS2017 pre-release and it's failing with the error message:

I'm seeing this in the install log:

My VS version info is:

[2017-06-22 17:02] igorushi commented on #21
@StefanKert, cool!

[2017-06-22 18:14] StefanKert commented on #24
Unfortunately I can not reproduce this issue, but I made some smalle changes to the packages config. You can grab the Build for this version (HERE)[https://ci.appveyor.com/api/buildjobs/ngfjbcw9tpksmm0b/artifacts/BuildVision%2Fbin%2FRelease%2FBuildVision.vsix]

[2017-06-23 00:39] dantz15 commented on #21
Glad to know that this project is active again guys! Keep it up.

[2017-06-23 05:56] StefanKert commented on #13
Just released ah new version that should handle long error messages better. [1.4.1.60](https://github.com/StefanKert/BuildVision/releases/tag/v1.4.1.60)

Please let me know if this fits your needs. Right now a scrollbar is added to scroll through the issue.

[2017-06-23 06:08] StefanKert commented on #15
So just to elaborate this a bit let me start a discussion on this feature here. Any idea is really appreciated and I´d be really thankful to hear your thoughts on it.

From my point of view we have 3 different solutions on how to solve this. All of them could be combined, but especially 1 and 2 could be implemented together since this is already used for other settings.

### 1. Adding Option to Bu

[2017-06-23 06:09] StefanKert commented on #14
@tomzorz Do you have any ideas on how you would like to see this in BuildVision? Any suggestions or maybe a mockup? Would love to get some inspiration on this.

[2017-06-23 13:31] #18 closed

[2017-06-23 17:39] tomzorz commented on #14
Hey!

First off: thanks for taking over the project and continuing development :)

And I was thinking something like this:

![image](https://user-images.githubusercontent.com/6363312/27493762-4696eeb6-584b-11e7-835f-1ffc55553d03.png)

Right now we only enter the 'BuildDone' state when the deployment is also complete, so BuildVision is already "aware" of something happening. What I'd like to see in

[2017-06-23 19:14] TSchmiedlechner commented on #14
Hey!
Looks good, thanks for the detailled description and the image. 👍
I'll have a look at this in the next days.

[2017-06-23 20:02] StefanKert commented on #14
Yep, deploying is currently disabled in source. Deployment is just another build action, so I think this shouldn´t be that difficult. I really this idea and I think many devs including me (for web deployment scenarios) can benefit of  this feature.

[2017-06-26 01:49] willl opened #25 "Use VSIXGallery for nightly/pre-release builds"
Firstly, really glad you took over the maintenance of BuildVision @StefanKert!
Glad this extension gets to live on :)

Just wanted to suggest looking at using [VSIXGallery](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.VSIXGallery-nightlybuilds) to publish the pre-release builds of BuildVision. And then when you're ready, update the marketplace build.

If you're interested, he

[2017-06-26 05:52] StefanKert commented on #25
Thanks for the feedback. @TSchmiedlechner and  me really appreciate all your feedback on the work we are doing on this project.

I really like the idea. I will take a look at it asap and I guess this is a real good solution for getting the Prereleases out to the users. Thanks! I´ll keep you updated on this.

[2017-06-26 05:59] willl commented on #25
Cool. If you want to have a look at an example repo that's already doing this, take a look at https://github.com/madskristensen/WebEssentials2017 by @madskristensen (the author of VSIXGallery).

You'll see he has a link to VS marketplace, and also a link which indicates that users can grab the nightly/CI build from VSIXGallery.

[2017-06-26 13:04] igorushi commented on #13
@StefanKert , cool thank you!

[2017-06-26 13:04] #13 closed

[2017-06-26 13:04] igorushi opened #26 "Please update version and credits."
@StefanKert , I was unable to install a new 1.4.1.61 version on top of 1.5.0.0 from your old fork and had to uninstall :(
Also it looks like you need to update the credis in some hidden places :)
![image](https://user-images.githubusercontent.com/7131092/27540262-3dc1c42a-5a88-11e7-9e9d-c7e7cfd1e47d.png)

[2017-06-26 13:23] StefanKert commented on #26
Sry for the inconvenience but since we accidentally bumped the version to 1.5.0 so we decided to go back to 1.4.x for the main repo. I hope this is not a big issue.

Regarding the version and credits: thanks for the tip. I will update them asap! Thanks

[2017-06-26 19:07] #26 closed

[2017-06-26 19:13] StefanKert commented on #12
Is this still an issue? If so please let me know.

[2017-06-26 19:32] TSchmiedlechner commented on #25
Hey,
thanks for the idea, sounds nice! I manually uploaded the latest build with powershell and will add it to our AppVeyor script and the docs in the next days.
You can grab the build from http://vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807b758a929f/

[2017-06-26 19:37] StefanKert commented on #25
If you´ve installed the plugin you´ve mentioned you also get a update notification. Awesome! Thanks for the advice @willl

![image](https://user-images.githubusercontent.com/7176615/27556808-7b2367a4-5ab7-11e7-8b47-aa1c9743732b.png)

[2017-06-26 20:49] willl commented on #25
Awesome :)

I'll close this issue then.

[2017-06-26 20:49] #25 closed

[2017-06-27 14:32] jbaute commented on #24
Great! This last build installs fine on vs2017. Thx!

[2017-06-27 14:34] StefanKert commented on #24
Ok fine! Thanks for the information.

[2017-06-27 14:34] #24 closed

[2017-06-27 19:10] igorushi commented on #12
I didn't faced with it last year ...

[2017-06-27 20:40] StefanKert commented on #12
Ok. I am closing this issue for now. If this issue pops up again please reopen.

[2017-06-27 20:40] #12 closed

[2017-07-04 14:03] JohnyWS opened #27 "WiX projects results in error dialogs"
When building my solution which contains WiX projects, I am, for every WiX project I have, presented with this dialog when it starts building:

![image](https://user-images.githubusercontent.com/4435828/27833183-efafe33e-60d1-11e7-9911-6d6031070e14.png)

When the dialog is closed, the WiX project continues building correctly:

![image](https://user-images.githubusercontent.com/4435828/27833244-348

[2017-07-04 18:15] StefanKert commented on #27
What version of Buildvision have you installed? Are you using VS 2017 or a different one?

[2017-07-05 10:50] JohnyWS commented on #27
Ah, my bad. I tried one of the forked versions, before you fixed the VS 2017 compatibility here. So either it was only that fork, or from before your restructuring of the code. It works with the latest version, thanks! :)

[2017-07-05 10:50] #27 closed

[2017-07-05 10:53] JohnyWS commented on #27
For the record, this is the version I'm using now:
https://github.com/StefanKert/BuildVision/releases/tag/v1.4.0.57

Previously I've compiled my own version from the source code version uploaded here:
https://codeload.github.com/StefanKert/BuildVision/zip/master

[2017-07-05 11:02] StefanKert commented on #27
Thanks dude! Glad that it worked out with the new build.

[2017-07-10 10:30] TSchmiedlechner commented on #15
A combination of 1 and 2 would probably be the best solution, since the 'Show Header' option works the same way.

[2017-07-10 12:15] Kritner opened #28 "Errors reported not always the relevant error."
If I have project A that depends on something in project B, and introduce a syntax error in project B, the error list on the buildvision screen does not seem to display the relevant error.

I can't provide a screenshot example currently, but if I can get around to it sometime during the week I'll try to put together something non specific to the code I'm working on.

Steps to reproduce:
* Project

[2017-07-24 17:20] guitarrapc opened #29 "Market place publishment"
Hope this awesome VS2017 compatible package will be published on https://github.com/StefanKert/BuildVision

Still I need to refer Release for latest releases or any updates.

[2017-07-24 17:27] StefanKert commented on #29
We are planning to publish this extension asap, but we are still waiting for feedback, if everything works as expected and if we didn't introduce any new issues with our restructuring.

I will leave this issue opened untill we publish this extension. In the meantime you could use the Prereleased version that is provided via [VSIXGallery](http://vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807

[2017-08-03 00:06] NickCraver opened #30 "VS 2017 Crash Report"
Just found a crash for VS in the logs, stack here:

[code]

Hopefully that path makes some sense - VS 2017 Preview 7 in play.

BuildVision Version: 1.4.1.61

[2017-08-03 00:17] davkean commented on #30
Two bugs here that I can see;

1) we're not implementing IExtenderCATIDProvider - so the CATID that CPS is to ObjectExtenders.GetExtenderNames is very likely null.

2) CPS shouldn't be calling ObjectExtenders.GetExtenderNames if there's no IExtenderCATIDProvider.

[2017-08-03 00:18] davkean commented on #30
This issue was moved to dotnet/project-system#2686

[2017-08-03 00:19] davkean commented on #30
This is our bug, feel free to close this one or leave it open if you want to work around it.

[2017-08-03 06:43] StefanKert commented on #30
Thanks for the report Nick! And also thanks to you for the very very fast info on this @davkean and the reference to the issue.

Anyway, I will take a look at this asap and try to find a workaround to fix it for the current preview.

[2017-08-03 07:58] StefanKert commented on #30
After taking a closer look at this I think it would make no sense to fix this now. @NickCraver does this error result in a crash of for you? Because this error should be handled:

[code]

I´ve also tested it with Preview 7 and it doesn´t crash my VS. Please let me know if this results in a crash of VS for you. If so we need to perform further action on this. Otherwise I will leave this issue open

[2017-08-03 08:14] StefanKert commented on #19
Since there is no feedback given I will close this for now. If you´re still facing this issue please feel free to reopen.

[2017-08-03 08:14] #19 closed

[2017-08-03 08:15] StefanKert opened #31 "Update Marketplace Documentation"

[2017-08-04 02:23] NickCraver commented on #30
Thanks guys, closing this out since the root is tracked elsewhere, no need to clutter up here!

[2017-08-04 02:23] #30 closed

[2017-08-07 10:23] StefanKert commented on #29
@guitarrapc since we succeeded migrating the Marketplace account I will try to get a working version to the marketplace until the end of this week. Stay tuned for updates!

[2017-08-07 10:39] guitarrapc commented on #29
Awesome!!!! What a great news!

[2017-08-10 20:30] StefanKert commented on #29
Partytime ;)!!!

![image](https://user-images.githubusercontent.com/7176615/29190718-6f247c2c-7e1b-11e7-900f-5016e654b52a.png)

[2017-08-10 20:30] #29 closed

[2017-08-10 20:30] #31 closed

[2017-08-10 20:42] StefanKert opened #32 "Migrating to Microsoft.Build.Evaluation for easier Project property resolution"
Like mentioned in #21 we are planning to migrate the logic for getting details for the projects from EnvDTE Classic code to the [Microsoft.Build.Evaluation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.build.evaluation). Any feedback, discussion or information on this is appreciated.

[2017-08-10 20:42] StefanKert opened #33 "Making usercontrols and views testable without running Visual Studio"
The title describes it pretty well. To allow easier testing for BuildVision we should add a test project that has the ability to simulate Builds.

[2017-08-10 20:46] StefanKert commented on #21
Since we got v2.0.0 out I´m closing this. Moved all tasks that still need to be done to separate issues. Thanks for all of your help and your feedback. Really appreciate it!! Special thanks to @nag5000 for the support!

[2017-08-10 20:46] #21 closed

[2017-08-11 14:03] guteksan opened #34 "CreateInstance failed - VisualStudio 2015"
Today BuildVision simply didn't load when I started Visual Studio 2015. It has been installed 1 or 2 months ago, no other update or extension was installed on Visual Studio.  An error message was displayed suggesting to look at Visual Studio ActivityLog.xml file. There I found following entries:

[code]
I tried to restart Visual Studio, restart PC, uninstall BuildVision and install again, all in v

[2017-08-11 14:31] StefanKert commented on #34
Can you send me some details on the installed version? Are you using the current release?

[2017-08-11 14:51] TSchmiedlechner opened #35 "Performance optimizations"
Since the project started, many users reported that BuildVision is slowing down their Visual Studio builds, sometimes in an extent it becomes more or less unusable (#7, #8, [UserVoice](https://buildvision.uservoice.com/forums/193886-general/suggestions/6779418-make-it-way-more-faster)). Our initial analyzes lead us to the conclusion that this mainly affects solutions with many projects.

Performan

[2017-08-11 14:56] CharlEsterhuizen commented on #34
I have the same issue as Guteksan.  Same error.
I un-installed /re-installed ,Clean registry with no luck.
I have even tried to install v1.4.1.61 and that gave me the same error. Been using BuildVision for a very long time without any issues. It started after I manually upgraded to V2.0.0.92

[2017-08-11 14:57] CharlEsterhuizen commented on #34
I have the same issue as Guteksan.  Same error.
I un-installed /re-installed ,Clean registry with no luck.
I have even tried to install v1.4.1.61 and that gave me the same error. Been using BuildVision for a very long time without any issues. It started after I manually upgraded to V2.0.0.92
Edit : The error pops up as soon as I open a solution. not when VS starts

[2017-08-11 14:58] StefanKert commented on #34
Ok. Under invastigation. Will provide an Update asap!

[2017-08-11 15:03] StefanKert commented on #34
The thing is, that we've upgraded a package to a newer version and installed this via nuget. It looks like these packages got not copied to the output dir and since this package is integrated in vs 2017 only this causes issues with vs 2013, vs 2015. i will provide an update asap but I am busy right now. Will get back to you if I fixed the bug. Sorry for the inconvenience!

[2017-08-11 15:05] CharlEsterhuizen commented on #34
No worries, Knocking of for the weekend in a few mins. It will be tough but I think I can do a few compiles
without it. :)

[2017-08-11 15:42] guteksan commented on #34
Hi,
Unfortunately, I left work already so won't be able to provide more info till Monday. I did not update BuildVision manually, so I suppose it auto-updated after new version had been released. And when I tried reinstalling, the version was V2.0.0.92. Everything was performed via "Updates and Extensions" in Visual Studio. Apparently, every user with VS lower than 2017 may be affected through this

[2017-08-11 17:39] hilbert89 opened #36 "Could not load file or assembly Microsoft.VisualStudio.Shell.15.0, Version=15.0.0.0,"
After updating VS 2015 to Version 14.0.25431.01 Update 3, i encounter the following problem:

<record>344</record>
    <time>2017/08/11 17:37:07.437</time>
    <type>Error</type>
    <source>VisualStudio</source>
    <description>CreateInstance failed for package [BuildVisionPackage]Source: &apos;mscorlib&apos; Description: Could not load file or assembly &apos;Microsoft.VisualStudio.Shell.15.0, V

[2017-08-11 17:44] StefanKert commented on #36
Hey Hilbert,

I am already working on this. There is already an issue opened (#35) so I will close this as Duplicate for now. Please keep track of the other issue to get updates! Thanks for the report!

[2017-08-11 17:44] #36 closed

[2017-08-11 17:50] hilbert89 commented on #36
thanks Stefan

[2017-08-11 22:23] StefanKert commented on #34
Hey guys. Good news! I found the issue and pushed a Prerelease. I´ve tested it with Visual Studio 2013, 2015 and 2017, but I would really appreciate it if someone of you could verify that this bug is fixed. The .vsix file can be found here: [https://github.com/StefanKert/BuildVision/releases/tag/v2.0.1](https://github.com/StefanKert/BuildVision/releases/tag/v2.0.1)

Please let me know if this is w

[2017-08-12 21:34] codeworrier commented on #34
Prerelease 2.0.1 now properly loads on VS 2015 and 2013, Win7 SP1 x64 ... nice!

[2017-08-13 06:40] StefanKert commented on #34
Awesome :) Thanks for your feedback @codeworrier!

 I'll see if i can come up with a push to the marketplace today!

[2017-08-13 09:47] StefanKert opened #37 "Move Release Notes to GitHub"
Currently, we are maintaining multiple files with release notes. If the user clicks on Release Notes in Visual Studio Extension a file is opened. We should definitely redirect the user directly to a file on GitHub to make use of Markdown in release notes.

![image](https://user-images.githubusercontent.com/7176615/29248622-0cfcaca0-801d-11e7-9806-e9d48c5b76e9.png)

[2017-08-13 09:54] StefanKert commented on #34
Release 2.0.1 Is out now! Sorry for the inconvenience :) Should be working now with VS 2013 and VS 2015.

![image](https://user-images.githubusercontent.com/7176615/29248665-c8bb1cf6-801d-11e7-992c-06dcbb1cc69c.png)

If you still have a problem with this reopen, I will close this for now.
If you got other feedback, feature requests or bugs please create an issue and let us know, we really apprecia

[2017-08-13 09:54] #34 closed

[2017-08-14 13:15] guteksan commented on #34
Just to confirm, version 2.0.1.98 has automatically updated from the online extensions repository and it is working. Meanwhile, some default settings, like showing buildvision window and showing progress on the taskbar, have changed, but I managed to find them and restore. Thank you for quick handling of this issue.

[2017-08-14 13:35] StefanKert commented on #34
@guteksan sweet! Thanks for the feedback. Could you please create another issue with this problem, so that we can verify if this is indeed or a bug. Thanks!!

[2017-08-14 14:54] guteksan commented on #34
I don't really consider it a true bug, rather an inconvenience. But if it helps you to improve the plugin, I can create another issue.

[2017-08-14 14:58] StefanKert commented on #34
@guteksan we really want to sort out every little issue. In fact, this could also be a design decision we´ve probably made. Just want to keep track of this and maybe start a discussion if this fits the needs of the end users or not :)

[2017-08-14 15:04] guteksan opened #38 "After upgrading to 2.0.1.98, the default settings have changes"
For versions 1.x of BuildVision, the default settings were:
- _Display build progress on Windows Taskbar_ was ON in General Options
- _State on build begin_ was [Show window] in Tool Window options

After auto-update to 2.0.0.92, the plugin was unavailable
After another auto-update to a fixed version 2.0.1.98, the default settings have changed:
- _Display build progress on Window Taskbar_ checkbox

[2017-08-14 19:25] hilbert-tan opened #39 "After updating to latest BuildVision, most of my projects fail to build, rebuild and clean"
After updating to 2.0.1.98, i can't build, rebuild or clean my projects. They just keep saying "skipped", has anyone seen the same thing?

[2017-08-14 20:17] StefanKert commented on #39
Thanks for the report. Haven't had this issue yet. Can you provide further information? For example Visual Studio version, is this only for specific builds? Does this only happen sometimes or always. Can you find any issues in the ActivityLog? Thanks in advance

[2017-08-14 20:36] hilbert-tan commented on #39
Sorry for the false alarm, it was another extension that i installed caused this problem, i will close this ticket. And thanks so much for the quick fix last week.

[2017-08-14 20:36] #39 closed

[2017-08-15 05:04] StefanKert commented on #39
Great :) thanks for the clarification!

[2017-08-15 05:05] StefanKert commented on #38
Thanks for reporting this! I will take a look and get back to you if i got some details!

[2017-08-15 16:25] markbrents commented on #34
Thanks for the quick fix. You don't realize how valuable BuildVision is until you don't have it

[2017-08-16 07:45] StefanKert commented on #34
@markbrents glad it worked out :) if you got any further feedback or wishes please create an issue :) really appreciate any feedback!

[2017-08-17 09:07] muellerto opened #40 "suggestions"
I use BuildVision for years and it's a good help in Visual Studio.

One thing I always missed is that **warnings are not visualized by color**. In C++ there are a lot of warnings which have the importance of errors. The user should notice (and handle) them very seriously. But BuildVision gives him only a very tiny number in a column. You can easily overlook it. I would like to see **a yellow icon*

[2017-08-17 09:15] JohnyWS commented on #40
As for the "do not display when building single project" I would have to disagree, since that can trigger other projects to build as well, and that's where BuildVision really shines.

I would suggest you set up your windows differently though. Instead of having BuildVision in the same dock as your output window, you could move it to the same dock as your source code. I've had mine setup like that

[2017-08-17 09:17] StefanKert commented on #40
Hey @muellerto,

first of all thanks a lot for these awesome suggestions!

So the first two suggestions are really cool. I like this idea and we should totally look closer to them. Could you please create separate Issues for these, so we can keep track of them and start a separate discussion on impl details?

The third suggestion is somehow difficult. I really do get the point and I think this cou

[2017-08-17 09:19] StefanKert commented on #40
@JohnyWS sweet! this could also solve the issue with the window overlapping your output window.

[2017-08-17 09:23] StefanKert opened #41 "Labels in BuildVision settings do not have content"
The title is pretty self-describing. I guess this would be a cool thing to contribute @TSchmiedlechner? I am going to put it as up for grabs! Maybe we can get someone in 👍

![image](https://user-images.githubusercontent.com/7176615/29405446-3908a7b2-833e-11e7-9bce-014ce73dc8ae.png)
![image](https://user-images.githubusercontent.com/7176615/29405483-5500d8ae-833e-11e7-80ca-f2230ab812e6.png)
![image

[2017-08-17 10:38] TSchmiedlechner commented on #40
Thanks for the suggestions, as @StefanKert already said!

In my opinion, especially the second point describes a behaviour that is definitly unwanted in this context and should be fixed.

Coloring the warnings could be an optional setting, maybe even in combination with certain project types - as a C# developer that works with a lot of generated code, I have to deal with many warnings I can basica

[2017-08-17 11:16] StefanKert commented on #40
@TSchmiedlechner I think what @muellerto was talking about is to display the Warning Sign instead of the green checkmark (correct me if I´m wrong). I totally agree that displaying all kind of warnings should not be implemented as default behaviour, but maybe we could opt in these warnings by clicking on the warning sign in the header:

![image](https://user-images.githubusercontent.com/7176615/294

[2017-08-17 12:59] muellerto commented on #40
Oh, thanks a lot for the discussion! (Never thought about so much feedback ... Thanks a lot for taking this seriously.)

@StefanKert did understand right, I meant a new warning icon instead of the green checkmark, when a compilation led to one or more warnings (but no errors). This would give much better overview about the compilation results if you have a big solution. Hey, I have solutions with

[2017-08-17 13:07] muellerto opened #42 "New icon for build projects having warnings"
One thing I always missed is that warnings are not visualized by a colorful icon. In C++ there are a lot of warnings which have the importance of errors. The user should notice (and handle) them very seriously. But BuildVision gives him only a very tiny number in a column. You can easily overlook it. I would like to see a yellow icon instead of the green checkmark on the left side of each project

[2017-08-17 13:11] muellerto opened #43 "access warnings like errors from BuildVision"
If you have compilation errors you can display them by clicking on the row and jump into the code from there. If you have only warnings you must indeed go into the Output window and search them there. This is not good. You should handle errors, warnings and messages (#pragma message) in the same style.

Perhaps it would be a good way to limit the number of the warnings, because many developers see

[2017-08-17 13:12] muellerto opened #44 "don't always activate the BuildVision window"
The following is related to the activation of the BuildVision window when the build process starts. Sometimes, when I have a damned stubborn compilation error, I just compile a single C++ file several times (after modifications), without linking. In this case I want rather see the Output window. In this situation the BuildVision window does rather hide informations I want to see, again and again.

[2017-08-17 13:49] JohnyWS commented on #40
Is that an issue you're facing yourself @StefanKert ? Because then I'd like to hear you thoughts when trying out that window setup. I'd like to hear yours as well @muellerto. I'd like to know what I'm missing out on with the default setup if anything. If not, perhaps that setup should be included in the how-to.

[2017-08-18 06:22] StefanKert commented on #42
Since this is the suggestions that most user will benefit from I will see if we can get this into the next release.

So basically I think it is better to integrate this as Opt-Out so it is enabled per default and the user can disable it if someone likes the illusion of the green check mark better and ignore these errors ;)

In the end, it should look similar to this:

![image](https://user-images.

[2017-08-18 06:31] TSchmiedlechner commented on #42
Looks good! 👍
I'd prefer sticking with the icons we currently use, because they are the same as in other places in VS (e.g. the error list).

[2017-08-18 07:19] muellerto commented on #42
Looks great!

[2017-08-19 10:23] StefanKert opened #45 "Add link for autocreating and prefilling issue on GitHub"
To give users the ability to easier report bugs we should add a Link that lets the user create an issue that adds information on the current system (BuildVision Version, Visual Studio Version, System, ...).

[https://eric.blog/2016/01/08/prefilling-github-issues/](https://eric.blog/2016/01/08/prefilling-github-issues/)

[2017-08-19 10:47] #37 closed

[2017-08-19 11:04] StefanKert commented on #9
Could you please specify what you are expecting in this case? From my perspective it seems like this is a valid behaviour. You try to build a single project and thats the reason for the tiny progress. So please could you ellaborate a little bit more on this so that we can fix this. I´m removing this from the 2.1.0 milestone now until we know if this is a bug or correct behaviour.

[2017-09-08 08:50] drubbo commented on #8
+1. We have a solution with ~300 projects and while building it with this extension active, the whole Visual Studio UI becomes unresponsive.

[2017-09-08 09:29] StefanKert commented on #8
@drubbo thanks for adding this here. Like @Tschmiedlechner mentioned in #35 we are already working on improving the performane for BuildVision. If we come up with something it would be cool if we can ping you for beta testing the improvements, to figure out if this works for you. Anyway I really appreciate your feedback!

[2017-09-08 09:34] JohnyWS commented on #8
You can ping me as well @StefanKert. We have several developers who has changed over to R# build instead, because of the slow down in build speed.

[2017-09-08 09:43] StefanKert commented on #8
@JohnyWS awesome! Thanks dude. I will see if i can get some improvements in until the next milestone. Has this issue been in the past versions too or is it only 2.x.x?

[2017-09-08 13:06] drubbo commented on #8
@StefanKert sure np

[2017-09-10 07:43] StefanKert commented on #41
Looks like this is working again in the newest deployed version so I´m closing this for now. If someone else is still facing this issue please let me know!

![image](https://user-images.githubusercontent.com/7176615/30247123-8d4832a8-960c-11e7-9963-cdea6fc60844.png)

[2017-09-10 07:43] #41 closed

[2017-09-10 18:05] JohnyWS commented on #8
That we don't know unfortunately, unless you can compare with VS 2015 speeds before VS 2017 even was out, because that's when we last had it rolled out to many users, and none were complaining about it at that time.

[2017-09-12 14:53] kevinboss commented on #8
+1 . We have a projekt with 500+ Project, buildtime is well above 30 minutes...which isn't really something I can live with...

[2017-09-17 16:01] StefanKert commented on #45
Reporting Issues should now be fairly easy. You can either go to the contextmenu within the build window, or in the Generalsettings tab (Tools -> Options -> BuildVision)

![image](https://user-images.githubusercontent.com/7176615/30522529-c98ff4b0-9bd1-11e7-921c-7aa7e155d12c.png)

Clicking onto this autofills an issue on GitHub with helpful information:

![image](https://user-images.githubusercont

[2017-09-17 16:01] #45 closed

[2017-09-29 20:37] StefanKert commented on #42
I added this feature with 369fa75.

You should now be able to see the builds that finish with a warning directly in BuildVision.

![image](https://user-images.githubusercontent.com/7176615/31034853-1bf671c8-a566-11e7-9ddd-640d0fa59683.png)

It is possible to disable this feature by going to your Generalsettings and check/uncheck the following option:

![image](https://user-images.githubusercontent

[2017-09-29 20:37] #42 closed

[2017-10-02 11:25] StefanKert commented on #9
Since there is no activity from the OP I will close this. If this issue is still occurring please reopen.

[2017-10-02 11:25] #9 closed

[2017-10-03 10:52] JoshuaGarrison27 opened #46 "No active context causes a crash"
During testing of some other issues, I have stumbled across another issue. If you open a project that does not have any windows that are open when the solution opens, then you try to run it, it will fail to run. This is due to a null reference exception. I am not sure if it has something to do with the type of project you are running as well. I am investigating further and if I find something then

[2017-10-03 13:04] StefanKert opened #48 "Add .editorconfig to support future development"
Since we got rid of StyleCop we should use the new .editorconfig settings for Visual Studio. I would suggest using the default settings that are used für C# development. Other thoughts are welcome.

[2017-10-03 13:14] StefanKert commented on #46
Fixed with #47

[2017-10-03 13:14] #46 closed

[2017-10-03 13:33] #48 closed

[2017-10-05 12:17] StefanKert commented on #10
@JoshuaGarrison27 fixed this issue in #50. You can grab the new version under [https://ci.appveyor.com/project/StefanKert/buildvision/branch/master/artifacts](https://ci.appveyor.com/project/StefanKert/buildvision/branch/master/artifacts) or you wait for the release :). Please let me know if this fixed your issue. I am closing this now. If this issue still occurs please reopen.

[2017-10-05 12:17] #10 closed

[2017-10-06 21:37] StefanKert commented on #8
I drafted a prerelease that has some performance improvements included. You can grab it under [https://github.com/StefanKert/BuildVision/releases/tag/v2.1.0-alpha-1](https://github.com/StefanKert/BuildVision/releases/tag/v2.1.0-alpha-1).

Would be great if some of you could check if this speeds up your build process. Please let me know!
Thanks in advance. Cheers

[2017-10-07 21:28] JohnyWS commented on #8
I've sent it out to two of my teammates, and hope to know more in 3-4 days time.

[2017-10-08 07:06] StefanKert commented on #8
@JohnyWS great! Looking forward to your response.

Anyway, I would really appreciate any further feedback  on this :)

[2017-10-09 08:29] JohnyWS commented on #8
1st impressions: Massive improvement. :) VS does not hang nearly as much. 👍

[2017-10-09 08:36] StefanKert commented on #8
Awesome! Thanks for the feedback. Sounds great :) I will see if I can find more bits that can be improved, but I am really glad that it seems like this fixes some issues :)

@drubbo @kevinboss is it possible for you to install the pre-release and give me some feedback on this? Thanks in advance!

[2017-10-09 11:47] kevinboss commented on #8
@StefanKert

I aborted after 20 Minutes and ~400 projects. The whole solution is 508 projects, I guess it would still be around 30 minutes overall.

[2017-10-09 11:50] StefanKert commented on #8
@kevinboss thanks for the info.

How long does a build of your solution usually take?

[2017-10-09 11:51] kevinboss commented on #8
@StefanKert Not more than 7-8 minutes if I make a complete re-build.

[2017-10-09 11:53] StefanKert commented on #8
@kevinboss ok. This is of course unacceptable. Is this C++ or C#? I guess it is not an opensource project. The issue here is that it is really difficult to get a solution that is that big. If anyone knows an example that is  > 100 projects big please let me know.

[2017-10-09 11:57] kevinboss commented on #8
@StefanKert It is a C# project, full-framework (4.5.2) and VS 2013, so no Roslyn. And yes, it is a closed source project.

We are currently upgrading to 2017 and 4.7, so maybe I can try it again when that is done.

[2017-10-09 12:09] StefanKert commented on #8
@kevinboss gotcha. Thanks anyway for the feedback! Really appreciate it. I will try to generate a solution (>100) and see if I can find some bottlenecks. Really curious if this upgrade will improve the overall performance.

[2017-10-10 10:53] StefanKert commented on #8
Seems like I found one of the major performance issues. I created a solution with 100 projects:

| Run | No BuildVision | BuildVision 2.1 alpha 1 | BuildVision 2.1 aplha 2 |
| ------------- |:-------------:| -----:|-----:|
| 1      | 00:00:29 | 00:01:50| 00:00:34 |
| 2    | 00:00:28 |  00:01:41 | 00:00:30 |
| 3 | 00:00:31      |    00:01:49 | 00:00:31 |

So you can see that we got a major improvem

[2017-10-10 12:46] drubbo commented on #8
yep I'll do that as soon _as possible_.

[2017-10-12 09:14] drubbo commented on #8
Looking good so far, well done. I'll benchmark it on a monster solution during the weekend.

[2017-10-12 09:46] kevinboss commented on #8
@StefanKert

I tried the 2.1 alpha 2 Build and it was done in 5:06, that is really great. I can't really see a difference between the addon and no addon anymore.

[2017-10-12 09:55] StefanKert commented on #8
@drubbo thanks for the feedback! Great to hear that it is working for you :). Hope this will also work properly with your monster solution.

@kevinboss awesome!! Thank you so much for the feedback you gave on this. Really helped me getting this thing faster :)

Really glad that this worked out. Would be great to get further feedback from some of you guys ( @duszekmestre, @pavelhritonenko, @brobich

[2017-10-12 09:58] StefanKert commented on #7
@Bertk @devployment please take a look at https://github.com/StefanKert/BuildVision/issues/8#issuecomment-335435680

Would be cool to get some feedback if this fixes your issues. Thanks in advance

[2017-10-14 06:45] StefanKert commented on #15
Hey guys,

I added this feature and really wanted to get some feedback on the colors and the visualization. I integrated a separate icon for up-to-date Projects and the count of up-to-date projects basically, this is a blue checkmark, but I am not really confident if this really is a good solution. Really love to hear your thoughts on it.

![image](https://user-images.githubusercontent.com/7176615

[2017-10-16 20:35] JohnyWS commented on #8
@StefanKert I had full days mapped out with meetings and final work to do before the current vacation (this week), so sadly, I did not get around to getting more feedback, so mine will be a bit late to the party. We have 100+ projects too though, so I'll let you know when I have some numbers. :) - judging from the other feedback, it does already look like it's worth using the current iteration tho

[2017-10-18 22:15] JohnyWS commented on #15
Hmm, what about an outlined checkmark instead? Still green, giving the "all OK" feel, but empty to tell you that something is different? (sorta like these: https://www.shutterstock.com/image-vector/choose-mark-check-icon-red-green-578455546)

Love that I can better tell them apart now though!

[2017-10-19 05:53] StefanKert commented on #15
@JohnyWS thanks for the feedback sir.

![image](https://user-images.githubusercontent.com/7176615/31756067-2e5bae8c-b4a2-11e7-9a08-e08ca5a68344.png)

This are some ideas for icons that we can make us of (https://materialdesignicons.com/ for further possibilities).

IMO we have to use an icon that doesn´t distract the user too much. So in fact the really important icons are these:

[2017-10-19 05:58] StefanKert commented on #8
@JohnyWS no worries! If you tested it please let me know if this worked for you too. Thanks!

[2017-10-20 11:41] JohnyWS commented on #15
I like the double checkmark as well, but what does it convey? For me it is that "this node completed, as well as all child nodes". It then gets complicated if there's both up to date and regular built projects underneath, because what should the icon then be?

I think perhaps the following would do the job as to tell that something succeeded or not?

![error-and-resolved](https://user-images.githu

[2017-10-21 05:54] StefanKert commented on #15
Your right with your thoughts on the double checkmark. That was the reason why I didn´t use it in the first place.

I don´t think that changing the current icons is a good thing because most users are really used to them. So we´ve to come up with a solution that matches the current icons.

Since I am planning to release the newest version this weekend I think we should close this for now and wait

[2017-10-21 05:54] #15 closed

[2017-10-21 06:02] StefanKert commented on #8
Since most of you gave the feedback that the current alpha release fixes this issue I will close this for now.

@JohnyWS still curious if this fixes your performance issue too (or further improves performance for you since the first alpha already fixed most of the issues for you)

If there are any performance issues in the future please create a separate issue. Thank you all for the great work and

[2017-10-21 06:02] #8 closed

[2017-10-21 06:03] #35 closed

[2017-10-30 13:15] LSMetag opened #51 "Crash when using SSIS"
Hi !

First, I really love your product. But It makes Visual Studio crash each time you try to run a SSIS package.
Visual hangs until you closes it.

So you can't use SSIS if BuildVision extension is enabled. I hope you'll be able to fix that.

Cheers

[2017-10-30 13:24] StefanKert commented on #51
Hey there!

Thanks a lot for the kind words and also thank you for taking the time to posting this directly to GitHub :)

Sorry to hear that this is happening for you. Is it possible to get more details? Do you see anything in the Activity Log? Do you have a screenshot that shows your VS instance during the crash? Also can you please provide some more details on SSIS. I haven´t worked with SSIS wi

[2017-10-31 09:15] LSMetag commented on #51
![executing first task](https://user-images.githubusercontent.com/7227332/32216041-25e57ae0-be24-11e7-96a1-0e9f40cee00f.png)

When I do "right click => execute" on the first task, the EDI becomes completely unresponsive.

Here is the request of the first SQL Task that removes every table in a database:

[code]

The issue is SSIS has its own compiler/builder and there may have a conflict.

Here is

[2017-10-31 12:29] StefanKert commented on #51
Thanks for the details! I was able to reproduce this bug and will take a look at it asap. Don´t know if I can fix it this week, but I will keep you up to date on the state of this.

[2017-10-31 16:03] StefanKert commented on #51
Just to give you a quick update on this:

I already fixed the issue but I need to do further testing. The problem we´re facing is, that it is a Visual Studio Bug I can only find a Workaround.

I will see if I can do further checks tomorrow so that I can pre-release 2.1.1 for you to test it.

Cheers :)

[2017-11-01 10:27] StefanKert commented on #51
As said yesterday I had the time to test it out today. I created a basic solution with a SSIS project and it worked out with the newest build. You can grab the artifacts here https://ci.appveyor.com/project/StefanKert/buildvision/build/2.1.1.144/artifacts

Please let me know if this workes out for you too and if you found any further issues. If everything is fine, I will push a new release.

Thank

[2017-11-01 12:42] StefanKert commented on #7
Since there is no activity from the OP I will close this for now, if the issue is still relevant please reopen or create a new one.

[2017-11-01 12:42] #7 closed

[2017-11-01 13:18] StefanKert commented on #14
I really want to get this into the next release that is scheduled for the end of November. So we need to agree on some things I am not really sure about when implementing this.

I really like the proposal you made @tomzorz, but I am not sure about one thing, maybe you can add your thoughts on this. Usually BuildVision shows all the Projects that are builded (let´s assume hide update targest is not

[2017-11-01 21:26] LSMetag commented on #51
Thank you for being so prompt to answer ! I can't test before monday (I took days off) because I only got SSIS at work. But I trust you. I'll tell you if I get other issues.

[2017-11-02 08:27] StefanKert commented on #51
Great. No worries. Just let me know if you had time to check it out and if it worked. Thanks and have a nice day off :)

[2017-11-06 13:44] LSMetag commented on #51
It's fixed with this build ! Thank you !

[2017-11-06 13:58] StefanKert commented on #51
Great! Thanks for the info. Glad to hear that it is working out :). I will deploy a new version this week so that everyone can get this fix :)

Thanks for your help! If you got any further feedback, bugs or ideas please let me know!

[2017-11-06 13:58] #51 closed

[2017-11-07 09:00] LSMetag commented on #14
I prefer the scenario 1. The deployment can fail after the build succeeds. And for the warning it can be nice too.

But I think deployment line should have another icon than building (or put in bold font) because it's another task you should see easily while deployment often includes Building.

[2017-11-07 09:07] LSMetag commented on #44
Yes, I think the BuildVision window should open only for Solution/project builds. Not for files.

[2017-11-07 09:42] tomzorz commented on #14
I see your point with option 1, and I think I'd prefer it as well. I'm not sure how often do people deploy multiple things at once (I for one never did, but I don't really do Azure stuff where I imagine this might happen).

What you could maybe do is to have the deployment item as an expando (like a TreeView child item) below the relevant project. And you could hide completed deployments and only

[2017-11-07 09:52] StefanKert commented on #14
Guys thanks for your feedback On this.

The multi-deployment scenario is very rare I guess, so let us concentrate on the single deploy scenario. I really like the idea of adding an expando, but this will make the UI more complex.

@LSMetag I do agree that we should find a separate Deploy icon. I will see if I can find one that makes sense. If you got some ideas let me know!

To summarize this: Let

[2017-11-07 09:56] StefanKert commented on #44
So to get this right: C++ allows to compile single files in Visual Studio? I have not worked a lot with C++ and Visual Studio so I am going to need some help on this. If VS allows compiling single files we should definitely think about adding a setting that allows you to define what happens when compiling single files.

For C# there are already enough settings to define what makes the window show

[2017-11-10 01:25] tomzorz commented on #14
The setting is a good idea. I'd maybe add a popup to ask the user about it the first time there's a project with a deployment step.

[2017-11-11 10:12] StefanKert commented on #14
Yep that would probably be a good fit.

I had the time to checkup what happens when deploying and I found out, that there is no specific event for deployments. From what I know now, it is only possible to hook into the Command Events. The issue is that there is an enum that has thousands of members and since we need only a few, I need to find those out.

We need to find all ways how deployment can

[2017-11-15 14:42] muellerto commented on #44
Yes, Stefan, that's my use case: I want to compile just one single cpp file into an obj file, not an entire project and the the entire solution. The linker is not involved, just the compiler. This is a typical task, I do this every day. In C++ you have a context menu item called "Compile". You have also a button in the Build toolbar for this.

What the happens is neither a Project nor a Solution b

[2017-11-20 14:35] eddieparker opened #52 "Grouping by State Doesn't Update During the Build"
- Visual Studio Version: 15.0.27004.2008
- BuildVision Version: 2.1.0.143
- OS Version: Microsoft Windows NT 10.0.15063.0

Steps to Reproduce:

1. Right click on the header and say "group by state"
2. Issue a build

You'll notice that completed builds don't get tucked into "BuildDone":

![image](https://user-images.githubusercontent.com/1141487/33023416-f2fb3acc-cdbc-11e7-9d3d-2f46ce9ee52b.png)

[2017-11-20 14:47] StefanKert commented on #52
Thanks for reporting this issue! I was able to reproduce this. Will get back to you if I fixed it.

[2017-11-21 08:10] muellerto opened #53 "Sorting the projects by build order"
I would like to have the projects in the BuildVision window by build order so that a solution build runs just from top to bottom on the screen.

The problem is that this sort order is not right in many cases. The following picture shows the result of a solution build initially sorted by build order:
![1](https://user-images.githubusercontent.com/5188366/33060177-b24700b6-ce97-11e7-9586-aef1656cd61

[2017-11-21 08:16] StefanKert commented on #52
Hey there! I´ve added the fix into the current build on AppVeyor. Is it possible for you to download it directly from there and tell me if it now works out for you? Here is the link: https://ci.appveyor.com/project/StefanKert/buildvision/build/2.1.1.150

Thanks!

[2017-11-21 08:21] StefanKert commented on #53
Thank you for the detailed report! I think the first point is related to #52, because I implemented a fix for the sorting issue there too. If I understood your second issue correctly this should also be fixed. You can grab the fix under this link:  https://ci.appveyor.com/project/StefanKert/buildvision/build/2.1.1.150

Let me know if this fixes your issue! Thanks again for the great description.

[2017-11-21 10:43] muellerto commented on #53
Installed this. (I'm not sure if this really runs here. I just clicked on the vsix-file and then came an installer who did it ...)

In my case the behavior is unchanged.

The sort order during or after a solution build is not right. It sorts by something, the resulting order of the projects seems to be determined, but I can't figure out by what. There seems to be somehow a constant hidden order wh

[2017-11-21 11:55] StefanKert commented on #53
Can you double check which version you´ve installed? You can do this by going to your BuildVision settings.  There should be a section that looks like this:

![image](https://user-images.githubusercontent.com/7176615/33071178-c658846c-ceba-11e7-8b79-da3bcda1ed82.png)

Please verify that you´ve installed 2.1.1.150

In this build the sorting during the build is working properly for me.  There is jus

[2017-11-21 13:42] muellerto commented on #53
My version is:
![4](https://user-images.githubusercontent.com/5188366/33075549-2f2add8c-ceca-11e7-8ecc-30f50752a959.png)

[2017-11-21 14:54] muellerto commented on #53
During a solution build it looks like this:
![5](https://user-images.githubusercontent.com/5188366/33078525-36ec8800-ced3-11e7-944e-bd8ee422a2f8.png)

All the projects have their place in the list. One by one they get a number but the positions never change. The order is constant from the beginning of the build until the end. But there's a ^ in the # column.

What you need to reproduce this is a l

[2017-11-21 14:55] muellerto commented on #53
During a solution build it looks like this:
![5](https://user-images.githubusercontent.com/5188366/33078525-36ec8800-ced3-11e7-944e-bd8ee422a2f8.png)

All the projects have their place in the list. One by one they get a number but the positions never change. The order is constant from the beginning of the build until the end. But there's a ^ in the # column.

What you need to reproduce this is a l

[2017-11-21 15:30] StefanKert commented on #53
Wow ok! The fill projects at beginning was the missing link for me. I was able to reproduce this. I will try to fix this and get back to you if I got a fix! Thanks for reporting this and taking the time to bring up so many details.

[2017-12-16 11:02] tomzorz commented on #14
@StefanKert most of my projects where this happens is triggered by debugging - think mobile, UWP etc... So no separate "deploy" action, just hitting F5.

[2017-12-23 03:48] yannduran opened #54 "Can't Disable "Build Progress" Window"
- Visual Studio Version: 15.0.27130.2010
- BuildVision Version: 2.1.0.143
- OS Version: Microsoft Windows NT 10.0.16299.0

**Steps to Reproduce:**

1. Start a build
2. Progress window opens

**Description:**

I can't seem to find a setting in any of the *BuildVision* settings tabs for this *'Build Progress'* window. The only setting that seems possibly related to it, called *'show indicators panel

[2017-12-28 19:17] StefanKert commented on #14
@tomzorz ah ok. This is reproducable. When I hit F5 to start a UWP project, the deploy aciton is passed to BuildVison, so it is possible to add this action. I will see if I can implement a first prototype of this feature next week.

[2017-12-28 19:30] StefanKert commented on #54
Hey there,

thanks for the detailed description. Just to make sure that I am on the right track with this issue:

We are talking about this tab:

![image](https://user-images.githubusercontent.com/7176615/34421002-07e63586-ec0d-11e7-905e-dc76b8ac3746.png)

If so, this tab is added by CodeMaid (http://www.codemaid.net/documentation/#progressing) and since codemaid is opensource you can post your is

[2017-12-29 04:14] yannduran commented on #54
Uggh, thanks Stefan!I didn't even realise I had that installed. I'm sorry to have wasted your time.

[2017-12-29 04:14] #54 closed

[2017-12-29 07:08] StefanKert commented on #54
No worries. Always glad to help :). Since we found the issue the time is not wasted!

[2018-01-04 21:37] SirNH opened #55 "Elapsed build time does not handle a duration greater than an hour"
The elapsed build time at the top of the window will wrap around back to 00:00 after an hour.  I work on a VERY large project and I wanted to use BuildVision to help benchmark various build optimizations.

[2018-01-06 14:57] StefanKert commented on #55
Hey there,

I assume that you are talking about the time in the header:

![image](https://user-images.githubusercontent.com/7176615/34640799-efc77e94-f2f9-11e7-968d-ba12cea798de.png)

You can change this by going to

Tools -> Options... -> BuildVision -> Build Messages

And then change the following field:

![image](https://user-images.githubusercontent.com/7176615/34640810-1772be68-f2fa-11e7-906e

[2018-01-06 17:00] StefanKert commented on #53
Finally I managed to fix this issue. Can you double check if it is working for you now? You can grab the build by going to https://ci.appveyor.com/project/StefanKert/buildvision/build/2.1.1.154

Thanks :)!

[2018-01-09 09:25] muellerto commented on #53
Hey, it looks indeed much better now!

In both cases (ascending and descending sort) the user has a good overview of what's happening and in which order. OK, in descending sort order the list is still changing while a build is running but this is orderly done, the user can recognize what's going on.

Thanks a lot for this!

[2018-01-09 09:33] StefanKert commented on #53
Hey there! Thanks for the reply. Glad that it worked out. Can you send me a screenshot of the issues with descending sort? Maybe I can fix this issue too. Thank you!

[2018-01-10 06:38] muellerto commented on #53
Look at this picture:
![1](https://user-images.githubusercontent.com/5188366/34757871-58c467a4-f5d4-11e7-9563-8ce35dcce9d9.png)
In descending sort order the uncompiled projects are initially at the bottom. This is the same as with ascending sort order. During the compilation they walk one by one to the top of the list. So the list changes during a build. This is different from ascending sort where

[2018-01-29 07:48] StefanKert commented on #55
Any news on this @SirNH?

[2018-01-29 07:49] SirNH commented on #55
Yup, it's working!  Thanks for the advice!

------ Original Message ------
From: "Stefan Kert" <notifications@github.com>
To: "StefanKert/BuildVision" <BuildVision@noreply.github.com>
Cc: "SirNH" <brian.williams10@comcast.net>; "Mention"
<mention@noreply.github.com>
Sent: 1/28/2018 11:48:07 PM
Subject: Re: [StefanKert/BuildVision] Elapsed build time does not handle
a duration greater than an hour

[2018-01-29 07:49] StefanKert commented on #53
sorry for the delay in my reply! Thanks again for the detailed description of the issue. I will look into this and see if I can come up with a fix for this asap to get it into the next release wich is planned for this week.

[2018-01-29 07:50] StefanKert commented on #55
Great! Thanks for the really (!) fast reply :).

[2018-01-29 07:50] #55 closed

[2018-01-29 07:51] StefanKert commented on #52
@eddieparker did you find the time to check the mentioned build if this is working now? I plan to release this verison this week, so if this works for you we are good to go :)

[2018-01-29 08:49] StefanKert commented on #53
I´ve taken a look at this and let me just say some things to this case:

The sort order indeed is as you mentioned. If descending all projects are correctly sorted, but the projects with no order set are at the bottom.

So the problem we are facing is, that the buildorder is completly defined during the build and it is not (or not without a big amount of effort) possible to calculate this order be

[2018-01-29 17:15] eddieparker commented on #52
Somehow I missed the original pings on this - apologies.  Yes, this appears
to be working as of my latest sync and test: thanks for taking a look at
this!

On Sun, 28 Jan 2018 at 23:51 Stefan Kert <notifications@github.com> wrote:

[2018-01-30 08:26] StefanKert commented on #52
No worries :) ! Thanks for the reply. I am glad that it works now.

[2018-01-30 08:26] #52 closed

[2018-02-08 05:55] muellerto commented on #53
Seems to be the best what is to achieve. This would make ascending and descending sort look indeed the same, only reverted, and this is what the user expects.

I'm not familiar with this API. I always thought the build order is known and requestable before (!) a build begins. The project dependencies are known, the user can set them. So I thought you can always fill the list and let it be. If the

[2018-03-28 09:34] toeb opened #57 "Error List (Visual Studio Window not Updated)"
I have noticed that since i installed BuildVision in VS2017 Pro that the normal Error List window in visual studio does not have its errors updated correctly.  After a build BuildVision shows the errors but the Error List does not show them.  if i build again the errors of the previous build are shown in the error list.  Has anyone else seen this issue as well or is this due to my VS configuration

[2018-04-03 04:49] muellerto commented on #57
I don't think this depends on BuildVision. I have this, too, even when BuildVision is not open. It depends somehow on the ErrorList window himself. You must open it once before your first build starts, then it gets the errors. Until you didn't open it it does never get any messages.

[2018-04-03 07:32] StefanKert commented on #57
Sorry for the late reply and thanks @muellerto so much for jumping in :)

I think the main difference is the following:

BuildVision adds all the errors that are thrown during a build and as a result, passed through the BuildLogger.  So BuildVision only gets the errors for each Build.

The error list, at least from what I observed, gives you errors without compilation so IMO Error List after you f

[2018-04-04 10:17] muellerto commented on #57
The Error List _can_ show IntelliSense stuff (and more). But I have this normally turned off.

I use the Error List (not very often) to filter a long list of build messages on a single project in the solution. But sometimes it's indeed empty, however, BuildVision and the Output window say there are indeed build errors.

This Error List has never been very reliable, the only window you can really t

[2018-04-25 11:41] MartinL0815 opened #58 "Clicking Compiler Errors in BuildVision often do not cause jump to location"
- Visual Studio Version: 14.0.25431.1
- BuildVision Version: 2.1.1.157
- OS Version: Microsoft Windows NT 10.0.15063.0

Steps to Reproduce:

1. I build our solution
2. if errors occur while compliing, the errors are listed in the BuildVision window
3. Clicking onto the listed error, seems to be possible, since the cursor changes from the pointer to the hand
4. After clicking onto the listed error

[2018-04-30 07:08] StefanKert commented on #58
Hey Martin!

Thanks for reporting this. What kind of project is this? Can you share some screenshots of the errormessage you trying to click on? Thanks in advance.

[2018-05-19 13:04] Khaos66 opened #59 "Show 'Restoring npm packages' info"
When working in web projects node package manager is often used to manage dependencies.
At the first build these dependencies are downloaded and this may take a while.
It would be nice if BuildVision could show this step and maybe even some status info.

[2018-05-23 06:45] StefanKert commented on #59
I already thought about that many times and I think that this would be of value to many users of BuildVision.

Probably we can start a discussion here on how we should achieve this. Do you have any specific idea on how this should look alike? Just to make sure that I am on track. You are talking about the Restore NPM Packages function within VS right? Because I don´t know if we have any chance to

[2018-06-04 09:08] MartinL0815 commented on #58
Sorry, disturbance is no good companion.
After "days" of waiting for my response …

1. I am working with C++ projects.
2. The errors are some like those below:
    * ![image](https://user-images.githubusercontent.com/525700/40908149-310cceca-67e6-11e8-89a6-1738fa34c6f5.png)
    * ![image](https://user-images.githubusercontent.com/525700/40908163-3d29e1ac-67e6-11e8-9517-8646639c268b.png)
    * ![im

[2018-06-09 14:56] PhilPJL opened #60 "Does BuildVision slow the build?"
First off.  BuildVision is great, I had been looking for something that would give me this info for ages.

Second.  If I build with BuildVision enabled/disabled I think there a 5-10% speed improvement with it disabled.  It's hard to tell though when manually timing a build.  This is on an 8700K machine building  a 180 project solution.  It takes ~50 secs with BuildVision and maybe down to 45 witho

[2018-06-09 16:30] StefanKert commented on #60
Hi Phil!

First off thanks for the kind words :) I am glad that the extension helps you in your daily work.

There have already been some improvements on performance in #8 but you are right. There is a small slow down with BuildVision.
 As you can see in the following table I was facing a similar difference between BuildVision disabled and BuidlVision enabled:

| Run | No BuildVision | BuildVision

[2018-06-09 17:37] PhilPJL commented on #60
Stefan,

our 180 projects has about 100k lines of code (according to VS code metrics).  A lot of them are quite small.

You're impressed with the build time, so am I since my work VM typically takes 15 minutes to build the same solution.  It can take up to 30 minutes if it's having a bad day.  My new home machine is an 8700k + Samsung 870 Evo + 32GB RAM.  It initially built everything in 2.5 mins.

[2018-06-10 10:56] ReinerVelte opened #61 "Provide export functionality for the build output"
It would be nice to have a functionality to export the build output for later analysis, for example in CSV Format.

I was working recently on improving build times and it would habe been handy to document these data in Excel for further analysis and comparison.

[2018-06-12 07:20] StefanKert commented on #61
Hi Reiner,

I like the idea. Have already thought about adding this feature. So just to get some feedback:

I would suggest to add a ContextMenuItem to the Windows Contextmenu to export this. So we have different opportunities:

- Export to a file
- Copy to clipboard

Also I would suggest to export the exact same columns as listed in the window. So for example if only the name and the elapsed time

[2018-06-12 07:21] StefanKert commented on #58
I tried to reproduces this with a C++ project with the example @vladtepesch gave, but the file with the error is opening up correctly. Is it possible for one of you guys to send me a project where this "go to" is not working? Thanks!

[2018-06-12 08:32] MartinL0815 commented on #58
Sorry, I'm only working with C++ projects, I cannot share with the public.
And currently I have no time to setup and test a test project

[2018-06-12 09:53] PhilPJL commented on #60
Sorry I don't have any detailed measurements.

Defender virus checks everything while the build is happening.  I noticed it was using a lot of CPU so excluded the solution folder.  That dropped the build time from 60-65 seconds down to 50-52.

All of our projects include the .NET compilers NuGet package.  I was told the this isn't ngened, so build times will be slower than using the default VS com

[2018-06-12 09:54] PhilPJL opened #62 "VS code metrics"
When running VS code metrics for a solution, VS appears to run a separate build for each project, which causes the BuildVision window to keep opening and closing.  This is at least annoying, and possibly slows down generation of the code metrics.

[2018-06-12 18:08] ReinerVelte commented on #61
Hi Stefan,

What you suggest sounds absolutely reasonable. To have exported exactly what and how it is seen in the grid is straightforward and intuitive. Why not also copy to the clipboard with CTRL+C and support also copy / export to a CSV file by using the context menu.

Please note that the CSV format can vary according to locale settings, encoding, separators, delimiters and quoting; maybe it

[2018-06-16 16:46] RudeySH opened #63 "Building moves the keyboard focus to the BuildVision window"
When building, the keyboard focus moves to the BuildVision window. This is annoying, especially when you configure the VS editor to build on save. Building on save is actually a pretty common thing, for example to do continuous testing various test runners do this, like NCrunch or dotCover.

There's no reason for the focus to move to the BuildVision window. I assume this happens because the extens

[2018-06-26 07:59] FroggieFrog opened #64 "many errors in VS ActivityLog"
I get many (>20) erros when using a solution with >20 projects.
I started Vs with parameter "/log" and found several errors, all with the same Stacktrace:

[code]

VS 15.7.4
BuildVision 2.1.1.157

[2018-08-23 19:21] janwilmans opened #65 "Feature request: show references to source files that are in the"
Excellent extension!! Very nice build stats, and overview of project types, I love it!

- Visual Studio Version: 15.0.27924.0
- BuildVision Version: 2.1.1.157
- OS Version: Microsoft Windows NT 6.3.9600.0

When a build error occurs, show all references to source files that are in the current solution below the error-message, so you can click to navigate there.

Example, this is one error message:

[2018-09-03 11:21] rb126 opened #66 "Feature Request: Colour for 'Building' projects - trivial change that would help usability"
Thanks so much for creating BuildVision.  It's awesome when working on large solutions.

My seemingly-trivial suggestion is to have a different colour for the building project(s).  They go green when built, and are blue beforehand, but so are "UpToDate" items, meaning it's hard to see where the action is when you have loads of projects:

![buildvision-colours](https://user-images.githubusercontent

[2018-09-03 12:02] StefanKert commented on #66
Hi there.

Thanks for the feedback on this feature. You are totally right that the current color is nt the best choice. I tried it with gray and some others but most of them have been either not really „beautiful“ or would highlight the UpToDate items to much or to less.

That is the reason why I went with blue, which in fact is not a really good choice. Do you have any specific color in mind that

[2018-09-03 12:05] rb126 opened #67 "Feature Request: BuildOrder column values to match VS Build Ordinal, or add new column for VS project build ordinal position"
Again - great extension, thanks!  I have noticed that the Visual Studio project index ("build ordinal number" in Output window) doesn't match the BuildOrder value in Build Vision.  Would it be possible to support another column that shows this build order (or add an option to exclude all "UpToDate" projects from numbering so I can hide UpToDate projects and get the numbers to match?  This would be

[2018-09-03 12:10] rb126 commented on #66
Hi Stefan - thanks for the speedy response!

What I had been thinking was either to make the "UpToDate" less prominent because, after all, nothing has really happened with those, so generally they are pretty uninteresting (and you already have an option to hide them).  But you've said that grey didn't work well, and have tried various combinations, so you probably have a much better feel for what

[2018-09-03 13:01] AgWillow commented on #66
I'd think the "same" blue would work for both: a brighter blue for projects while building, a darker blue for up-to-date projects. Take the HSL for the blue that BV uses today and increase and/or decrease the Lightness until you have two shades that are easily distinguished but are still fairly easy on the eye.
________________________________
From: rb126 <notifications@github.com>
Sent: Monday, S

[2018-09-03 16:59] StefanKert commented on #66
Big thanks to both of you for the great input.

I absolutely agree with you that we should highlight the "interesting" parts and I really do love the (btw greatly done) MockUp @rb126. I am currently on vac but probably I can spend some time to deliver some mockups with all icons in place.

@AgWillow do you have any specific color in mind? If you find the time I´d greatly appreciate a simple MockUp

[2018-09-03 17:03] StefanKert commented on #65
Hey there!

Can you send me a screenshot of the current behaviour of BuildVision? Is it showing up any error messages or is it just showing that a project build failed? I am not really familiar with C++ development so if it is possible for you and if you can offer some time it would be great if you could upload a small project that produces this behaviour. Thanks a lot :)

[2018-09-03 17:12] StefanKert commented on #67
Good catch!

This behaviour is mostly because the Build ordinal number is created during runtime and then cached. I need to do further investigation on this to see if we can get the Build No directly from VS.

So to me there are two questions here that need to be answerd:

1. Is it possible to sync the Number in BuildVision with the Number in the output?
2. What numbers should be taken if UpToDate

[2018-09-03 18:54] janwilmans commented on #65
[ConsoleApplication12.zip](https://github.com/StefanKert/BuildVision/files/2346372/ConsoleApplication12.zip)

Here you can see an example of code that points to 'library' code in the error message.
The real offending code is in a note at the bottom

consoleapplication12\ss.h(9): error C2679: binary '<<': no operator found
...
lots of crap
....
consoleapplication12.cpp(8): note: see reference to fu

[2018-09-03 18:57] janwilmans commented on #65
![image](https://user-images.githubusercontent.com/5933444/44999230-2633d680-afab-11e8-9e59-4a5630a11399.png)

screenshot of the current behaviour as requested

[2018-09-04 08:31] rb126 commented on #66
Hi Stefan,

Well configurable with a good default out of the box would be the best option, indeed, but I didn't really want to request that much!  Configurable would let people play with exactly the colours they want, and would also assist those with colour blindness or with monitors that distinguish some colours poorly, but a clearer "build-in-progress" colour would be enough for me 8-)  Enjoy yo

[2018-09-04 08:33] rb126 commented on #67
I would be tempted to introduce a new column, to be honest, because numbers that include the "UpToDate" projects will never sync, because VS ignores those, but there might be times when you do want to see the full build order, which is what your current column provides.

[2018-12-04 22:57] willl opened #68 "Please support Visual Studio 2019"
Visual Studio 2019 preview 1 has been released https://blogs.msdn.microsoft.com/visualstudio/2018/12/04/making-every-developer-more-productive-with-visual-studio-2019/

And a blog post on how to upgrade the extension to support it
https://blogs.msdn.microsoft.com/visualstudio/2018/09/26/how-to-upgrade-extensions-to-support-visual-studio-2019/

[2019-01-03 08:08] StefanKert commented on #68
First of all sorry for the delay:

To give you guys a quick update on this issue:

Since @Stelzi79 changed the manifests to make it work with 2019 there is already a working version for 2019. You can grab the .vsix [here](https://stefankert.visualstudio.com/_apis/resources/Containers/1323261?itemPath=artifacts%2FBuildVision.vsix).

As @NickCraver mentioned on Twitter (https://twitter.com/Nick_Crav

[2019-01-05 14:00] xperiandri commented on #68
You can check my changes to another extension for async load support
https://github.com/madskristensen/DialToolsForVS/commits/master

[2019-01-05 14:01] xperiandri commented on #68
I tried to download your VSIX but I'm not authorized

[2019-01-05 15:44] xperiandri commented on #68
Thanks.
Sounds amazing!

[2019-03-15 15:35] Atrejoe opened #72 "vs2019 warns about usage of deprecated APIs"
VS2019 Preview warns that BuildVision may not work with future versions:

![image](https://user-images.githubusercontent.com/585091/54443113-4b668600-4740-11e9-9d5b-9da33948cebf.png)

Using buildvision 2.2.0.4

[2019-03-15 15:55] StefanKert commented on #72
Hi there,

thanks for the heads up. I am currently working on the VS2019 release. You can follow the process in #71. I hope that I can have a first pre release by the end of next week.

[2019-03-20 21:13] NickCraver commented on #68
Is there any update on listing this in the extensions gallery? I love it and have been trying the latest builds every so often, just wondering on status :) I'm also talking to the VS team about why IMO this should be in the box for everyone...it's such an awesome feature. At the very least, the stop on first build failure should be a VS option.

[2019-03-21 05:22] StefanKert commented on #68
@NickCraver I am currently in the process of rewriting most of the BuildVision code and also trying to get up a Unittest and an IntegrationTest project to make it easier to contribute. As soon as I have these integrationtests up and running in Azure DevOps I will include the pipeline for pushing this to the extension gallery :). I´ll keep you updated! And thanks for the update on the stop on build

[2019-03-21 05:32] StefanKert commented on #14
Quick update on this one:

With the new structure introduce in #71 we are now able to have additional build states listed in the following articles:

- https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.vssolnbuildupdateflags?view=visualstudiosdk-2017
- https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.shell.interop.vssolnbuildupdateflags2?view=visual

[2019-04-12 07:04] willl commented on #72
Just an FYI - [VS 16.1 Preview 1 disables any extensions that are synchronously auto loaded](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#extensibility).
![image](https://user-images.githubusercontent.com/926823/56018173-b2c62480-5d44-11e9-9855-effd1f3a2857.png)

[2019-04-27 08:09] yannduran opened #73 "CI Build"
Is it possible to access the CI build somewhere? If it'snot publicly available, maybe I could be a CI build tester?

[2019-04-27 08:20] StefanKert commented on #73
Hi @yannduran,

first of all thanks for your help  and the comments!

You should be able to grab the latest CI build at https://dev.azure.com/stefankert/BuildVision/_build?definitionId=3&_a=summary

If not let me know. The latest build should be somehow stable. If you have time I would greatly appreciate feedback on the state :)!

I will also try to create the release pipe today to push it to the

[2019-04-27 08:33] yannduran commented on #73
@StefanKert

Vielen Dank for the quick reply!

Yes, that worked, but it's a very manual process. By '_vs extensibility feed_' do you mean Mads Kristensen's [VSIX Gallery](http://vsixgallery.com/)? Or something else? It'd be good to be able to add a new extension gallery to be able to be updated automatically as the CI build is pushed to GitHub. It's very easy to add the VS Gallery as an extension

[2019-04-27 08:46] yannduran opened #74 "Build Solution/Rebuild Solution/Clean Solution Icons Look Disabled"
This is not a new problem, it's one I've been meaning to mention for quite a while. I've always thought these buttons were disabled for some reason until I clicked on one to see what would happen and it launched a build.

![image](https://user-images.githubusercontent.com/2031126/56847224-bdbfae00-691b-11e9-8c07-72b50759b1a4.png)

Contrast your icons with my [Time Savers](https://luminous-software

[2019-04-27 11:04] StefanKert commented on #73
:) immer gerne!

Yep :) there had been a process of pushing this ti the VSIX Gallery but since I moved to Azure DevOps this needed to be added.

I just published the current version to VSIX. http://vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807b758a929f/

You should be able to grab it there :)

[2019-04-27 11:04] StefanKert commented on #72
HI @willl ,

I just published a first draft of the new version to http://vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807b758a929f/

If you have time to check it let me know if it works for you or if you are facing any issues.

[2019-04-28 02:10] yannduran commented on #73
Got it, thanks!

I used Mads Kristensen's [VSIX Gallery - nightly builds](https://marketplace.visualstudio.com/items?itemName=MadsKristensen.VSIXGallery-nightlybuilds) extension as an easy way of adding the gallery without having to do it manually.

[2019-04-28 02:32] yannduran commented on #67
The main problem here for me is that when I select the _BuildOrder_ (#) column to sort by (no matter what the number actually  represents), the grid isn't sorted by that number during the build.

![image](https://user-images.githubusercontent.com/2031126/56857367-e5f8ec80-69af-11e9-8399-a86ab0e93ec8.png)

The numbers match up with the output seen in the Output window, so they are in fact the "buil

[2019-04-28 02:53] yannduran commented on #66
Something seems to have gone wrong (in the latest CI build - v3.0.0.85):

![image](https://user-images.githubusercontent.com/2031126/56857588-d038f680-69b2-11e9-926d-27147732a205.png)

The top row never loses the top/bottom border, and clicking the rows can sometimes leave several rows "selected", but other times clicking on a row un-selects it. I can't imagine that this overall effect was intende

[2019-04-28 02:56] yannduran commented on #66
Have you thought about changing the **background** color of the row(s) being built, instead of the top/bottom border?

[2019-04-29 00:59] willl commented on #72
Thank you @StefanKert. Installed it this morning and it seems great so far 👍

[2019-04-29 03:06] yannduran opened #75 "Elapsed Time Continues After Build Has Completed"
v3.0.0.90

![image](https://user-images.githubusercontent.com/2031126/56874835-f37da780-6a7f-11e9-9bcc-575a7365a280.png)

The elapsed time never stops counting

[2019-05-02 08:51] Atrejoe commented on #72
Thanks a lot, this appears to work without warnings and has a nice 'preview' label ;)
One question: didn't the previous version allow expand the lines to display details of any build errors/warnings?

[2019-05-11 20:53] yannduran commented on #75
This seems to have stopped now. Curiously, the version number remains v3.0.0.90 (weird).

But I do now end up with two sets of parentheses:

![image](https://user-images.githubusercontent.com/2031126/57574770-64f72600-7482-11e9-8b68-deda1b4d8979.png)

[2019-05-11 21:01] yannduran commented on #73
How often do you push to the VSIX gallery? Two weeks later and I still have the same version installed (v3.0.0.90). I was expecting to see the results of what you were working on(unless you haven't made any changes in the last two weeks, lol)

You mentioned that you had moved to Azure DevOps, what method are you using to push the vsix to the VSIX Gallery?

[2019-05-11 21:05] StefanKert commented on #73
Hey there,

Since I have been at Build this week I didn‘t have a lot of time to work on BuildVision so there are no changes yet. I will probably push another version next friday because during the week I am usually pretty busy :).

I am currently using the scripts that are provided by Mads Kristensen. If you want to get the detailed scripts I can push them to the repo as well.

[2019-05-11 21:09] yannduran commented on #73
Quick reply!!! :-)

When I was using Appveyor, I used Mads' method, but I never managed to make that work in VSTS (back then).

[2019-05-12 08:07] StefanKert commented on #73
Basically I have a single step in my release pipe:

[code]

You can take a look at the build pipeline in the `azure-pipelines.yml`. I am building the stuff as usual and then just copy the files to the artifacts folder that is then published to the feed.

[https://github.com/StefanKert/BuildVision/blob/master/azure-pipelines.yml#L44]

If you need help setting up that stuff you can ping me on twitte

[2019-05-18 08:49] StefanKert commented on #72
Hi  @Atrejoe,

yeah actually there is a bug in the current Preview that breaks the error stuff. I am currently working on it :). I will close this issue for now. If you are on the "beta feed" you will see the fix as soon as it is up :)

[2019-05-18 08:49] #72 closed

[2019-05-22 08:47] BoF-TiPa opened #77 "Visual Studio 2019 Support"
I have used this tool for a long time. It is a great tool. When will it support Visual Studio 2019?

[2019-05-23 04:05] StefanKert commented on #77
Hi @BoF-TiPa ,

since VS2019 requires the packages to support AsyncPackage I am currently working on migrating BuildVision (#71).

Since there have been many changes I try to get as much feedback for the  preview as possible to don´t break users. If you have time check it out and let me know if it is working properly for you and if you have any suggestions:

The preview is hosted in the vsixgaller

[2019-05-24 21:06] manu-st opened #78 "Sorting on start time does not work"
I'm using 3.0.0.90 from the VSIX feed with VS 2019. It doesn't seem that sorting is working properly during a build as shown here:

![image](https://user-images.githubusercontent.com/13194660/58356672-fd02f100-7e2c-11e9-80c7-564d99c424af.png)

If I click the column header it will eventually sort. It is as if during the build the sorting criteria was not taken into account at all.

[2019-06-19 12:48] savehansson commented on #75
I've seen this exact issue(s) too.

- Visual Studio Version: 16.0.29001.49
- BuildVision Version: 3.0.0.90
- OS Version: Microsoft Windows NT 10.0.18362.0

Steps to Reproduce:

1. Don't know :(

After running some builds, (Ctrl+Shift+B), some with errors/warnings, some without, the elapsed time in the head doesn't stop after a build is completed. It just keeps ticking.

Workaround:

1. Restart VS

[2019-06-20 07:48] savehansson commented on #75
I managed to reproduce it. I just canceled a build (with the Cancel button in the BuildVision head). Elapsed time continues to count.
![image](https://user-images.githubusercontent.com/650548/59830539-2cc7ea80-9340-11e9-87a0-3ddacf92dcca.png)

[2019-06-24 15:44] Chaosmeister commented on #77
Works fine for me

![image](https://user-images.githubusercontent.com/13346344/60032861-b90f4000-96a7-11e9-9834-ee250986bcf1.png)

[2019-06-27 08:58] kubiix commented on #77
For me, when build s done, it still continues counting the time in BuildVision window and in VS statusbar.
Tried several project types - ASP.NET, WinForms, CoreConsole...

[2019-06-27 20:04] Stelzi79 opened #79 "LoadException with newest VS 2019 16.2.0 Preview 3.0"
## Visual Studio Version
Microsoft Visual Studio Enterprise 2019 Preview
Version 16.2.0 Preview 3.0

## BuildVision version
3.0.0.90 (the version from the VSIX gallery dev-build feed)

## Steps
- open VS with installed and activated BuildVision Extension

or

- manually open the BuildVision window

## Expected
- open without any exceptions

## Actual
- VS error that Extension couldn't be loaded ![

[2019-06-27 20:06] Stelzi79 commented on #79
Seems to be some problem with Serilog.

[2019-06-28 06:35] StefanKert commented on #79
Thanks for bring this up. I had no time yet to install the latest preview but will do so asap. I´ll let you know as soon as I have more information.

[2019-07-05 13:11] StefanKert commented on #79
Hi  @Stelzi79 ,
I just checked with the latest preview and it seems like it is working. Is this issue resolved for you as well?

[2019-07-05 13:20] Stelzi79 commented on #79
Well now it is somehow working again for me. Maybe a VS Preview or net core preview issue on my end and I worked with Blazor quiet a bit. I will report it if I have that problem again.

[2019-07-05 13:48] StefanKert commented on #78
Thanks for bringing this up. The latest version (3.0.0.91) should now order correctly.

[2019-07-05 13:50] StefanKert commented on #75
This looks pretty weird. I am currently investigating, but didn´t have this problem yet. I´ll keep you posted as soon as I have a solution.

[2019-07-05 14:19] StefanKert commented on #73
I think this issue can be closed right? If there are still problems with the CI build please reopen :)

[2019-07-05 14:19] #73 closed

[2019-07-05 14:20] yannduran commented on #73
yes, thanks Stefan!

[2019-07-05 14:42] StefanKert commented on #79
Would it be ok for you if I close this issue and you reopne it as soon as this issue comes back?

[2019-07-05 20:16] Stelzi79 commented on #79
Yes that would be OK. I will reopen if it comes back.

[2019-07-05 20:16] #79 closed

[2019-07-23 06:24] tb-mtg commented on #77
Any progress on a non-preview version?

[2019-07-23 13:32] rabauke commented on #77
Triggering compilation, it does not start until BuildVision window is hidden by switching to some other tab. Tested with 3.0.0.94 of Jul 5. 2019 16:46. This issue is observed with very large solutions only, not in general. I had installed also an earlier preview of the VS 2019 plugin (do not remember which version), which did not show this behavior.

[2019-08-13 08:02] Ext3h commented on #77
SUffering from the same issue as @rabauke.

Tried to debug it, but unfortunately that preview build is missing about half the required PDB files. Any chance of providing an updated preview with the missing symbols added, so feedback can be provided?

[2019-08-30 12:14] mtomana commented on #77
For me - the same issue at @rabauke and @Ext3h
CPU is highly used, and it does nothing until you switch to other, for example, Output tab.

[2019-09-06 15:55] StefanKert commented on #77
Hi folks,

sorry for the delay. I´ve been on a extended vacation this summer and had not much time to do OS stuff.

@Ext3h I´ll take a look if I can bring up a build that includes those files. I´ll let you know as soon as it is deployd

Thanks for the tip with the CPU. I´ll check that. this might be related to #75.

[2019-09-06 15:56] #78 closed

[2019-09-25 09:50] amirgon opened #80 "Solution build time is wrong"
![image](https://user-images.githubusercontent.com/11742638/65589742-35a90780-df92-11e9-8642-52beef6592ab.png)

Total solution build time is **not** 20:24 as displayed in the header.
The first project started on 06:32:19, and the solution completed on 07:52:41, so the true solution build time **should be 1:20:22**

 - BuildVision 2.1.1.157 (installed from the Visual Studio Gallery in Extensions an

[2019-10-05 05:42] StefanKert commented on #80
Hi!

Thanks for the heads up. I just pushed a new version (3.0.0-preview-1.96+2cf7960452) which should solve this issue. You should be able to update it if you configure VSIX Gallery in visual studio. Please let me know if this fixed your issue. Also it should lower the build time and cpu usage.

[2019-10-05 05:43] StefanKert commented on #77
Hi folks!

Finally I had time to get into some coding and I think i fixed most of the issues. Please checkout the newly pushed version (3.0.0-preview-1.96+2cf7960452) which should solve this issue. You should be able to update it if you configure VSIX Gallery in visual studio.

Thanks in advance for the feedback! :)

[2019-10-05 05:44] StefanKert commented on #75
Hi folks!

sorry for the delay. As mentioned in #80 this should be solved in the latest pushed version (3.0.0-preview-1.96+2cf7960452). Maybe you could give it a try and let me know if it is working for you. Thanks!

[2019-10-07 10:02] pyrocumulus commented on #77
I am currently testing this on my Visual Studio 2019. The basic functionality appears to be working correctly.

How do you want to receive the feedback on this preview version? Through this issue or separate new issues? Because I think I've found a small bug.

[2019-10-07 18:18] StefanKert commented on #77
If it is something unrelated to the current issue I would really appreciate if you could create another issue :)

[2019-10-08 08:53] pyrocumulus opened #81 "Fill projects list on build begin does not work"
In the preview version for 2019, it appears the option "Fill projects list on build begin" isn't working anymore. I tried setting the option and restarting VS but to no avail. The list still only populates by the projects it has built, instead of preparing the whole list.

Not a major problem obviously but I like seeing the build in advance (including up-to-date projects) so it's a pretty useful f

[2019-10-08 08:54] pyrocumulus commented on #77
Alright, it's a bit related I guess. But I submitted a separate issue #81 for your clarity :)

[2019-10-18 06:09] tb-mtg opened #82 "Version Column"
On the available columns to be displayed, could you introduce a "**Version"** column that shows the each project's version after the state changes to "BuildDone"?

This would help show any new version's that may have been automatically generated as part of the build.

[2019-10-20 07:45] StefanKert commented on #81
Hi @pyrocumulus

I just checked the version that you are using and for me it is working, I can even switch the option during the build and it shows all projects.

Are you doing a full build of the solution or just a single project?

[2019-10-20 07:47] StefanKert commented on #82
Thanks for the idea. Can you give me additional details on what you mean with Version? Are you talking about the AssemblyVersion?

[2019-10-20 22:58] tb-mtg commented on #82
According to this helpful [page](https://andrewlock.net/version-vs-versionsuffix-vs-packageversion-what-do-they-all-mean/), .Net Core uses the project file (.csproj or .vbproj) the **Version** property (which is made up of **VersionPrefix** & **VersionSuffix** properties if Version is not specified)  is used to determine the following properties:
* FileVersion
* AssemblyVersion
* InformationalVers

[2019-10-20 23:15] tb-mtg commented on #82
Maybe something like below using an Xml reader may help:

[code]

[code]

[2019-10-21 06:53] pyrocumulus commented on #81
Full solution (re)build and single project (re)build both have the same issue. They clear the project list at the beginning and then add to it, one built project at a time. I do not have the 'Hide up to date targets' option on by the way. I tried switching the option on and off again, even restarting VS between changes; nothing appears to change in the behaviour. Also I've noticed that the last pr

[2019-11-11 18:39] jzabroski opened #83 "How can I help?"
@nickcraver mentioned your tool on Twitter over the weekend [[1](https://twitter.com/Nick_Craver/status/1193163369299283968)] [[2](https://twitter.com/Nick_Craver/status/1193163889376141312)], and I had never heard of it before.  The performance issues he mentioned worry me, because we're moving to AWS Workspaces for all developer machines, and we know they're slightly slower than our current hard

[2019-11-11 23:42] NickCraver commented on #83
To be fair, my performance issues were many CI builds ago (and may not be issues now!) I'm going to poke it some more on latest and see. Visual Studio profiles extensions natively and will alert if there's a performance problem, so I wouldn't hesitate to test.

[2019-11-11 23:47] jzabroski commented on #83
To be fair, I really want awesome development tools, and BuildVision is one of the few tools I really want.  The other is a concept I call "PackageLens" or CodeLens for Packages to eliminate a lot of the hard to reason about behavior of nuget packages that operate on the whole solution or project as a side-effect of installing them.  Sort of a visual "Scrap Your Boilerplate" for people familiar wi

[2019-11-13 06:00] StefanKert commented on #83
Hi there!

First of all thanks for offering help. It is greatly appreciated because it is sometimes hard to verify special cases that some users are facing (especially with very big solutions).

Actually there are multiple ways do diagnose issues with performance. As @NickCraver mentioned VS2019 comes along with the notification for delaying extensions. I am not 100 percent sure if this is only re

[2019-11-29 09:57] pyrocumulus commented on #81
I think I've found the reason for this problem. I have a solution with some of the projects in an unloaded state and that seems to cause this issue. If I load all the projects in the solution, then the project list shows all the projects as well.

[2019-11-30 06:28] StefanKert commented on #81
Thanks for the update :). That sounds reasonable. Would you expect BuildVision to show also the unloaded projects? Because since they are not really builded if they are unloaded I would not expect them to be there.

[2019-11-30 10:55] pyrocumulus commented on #81
I understand why they would be omitted from the build list. Something could
be said for adding them in an 'Unloaded' build state, but for developers
with large solutions that might be impractical.

However, just to be clear: my problem is not with the missing *unloaded*
projects. It's when I have an unloaded project, the rest of the loaded
projects *also* do not fill the project list on build star

[2019-12-10 08:36] StefanKert commented on #81
Hi @pyrocumulus,

thanks for the clarification. I´ll try to reproduce this and fix it in the next preview :) thanks a lot!

[2019-12-21 01:29] whazzup opened #84 "Build time beyond 1 hour"
Build times tabulated wrongly if total time is more than an hour.
Not major issue, but if it's a simple fix...
[https://i.imgur.com/XDXmYud.png](url)

[2019-12-24 11:44] toughengineer commented on #77
Hello.

When I open a solution (e.g. from explorer) BuildVision windows pops up in the middle of the screen while the solution is loading. Then it disappears when the solution is finished loading.

BuildVision window is docked at the bottom and is unpinned (the window is not shown, only tab is visible).

No big deal, but maybe it's easily fixable.

Otherwise it seems to work alright.

VS 2019 16.4

[2019-12-24 16:13] jzabroski commented on #77
I've noticed that too but assumed I did something.

[2020-01-06 01:02] tb-mtg commented on #77
Version [3.0.0.99](http://vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807b758a929f/) appears to be working for me.

Can you going to make it available on the [Visual Studio Marketplace](https://marketplace.visualstudio.com/items?itemName=stefankert.BuildVision)?

[2020-01-07 02:19] jzabroski commented on #77
Yeah, I havent observed any stability issues on VS 2019 16.4

[2020-01-09 02:39] eddieparker opened #85 "Hiding up to date targets doesn't hide the group header if you group by state"
- Visual Studio Version: 15.0.28307.665
- BuildVision Version: 2.1.1.157
- OS Version: Microsoft Windows NT 10.0.18362.0

Steps to Reproduce:

1. Group by state
2. Have Hide Up to Date Selected
3. Do a build with some up to date projects.

You'll notice that you have a "State: UpToDate" with zero items in it.  At least it's empty, but it'd be nice if it didn't exist at all.

[2020-01-17 16:32] jzabroski commented on #83
I have not had any issues with up to 42 projects.

[2020-01-17 16:32] #83 closed

[2020-01-18 03:55] eddieparker opened #86 "Feature Request: Draw Progress Bar for Each Project Building?"
- Visual Studio Version: 15.0.28307.665
- BuildVision Version: 2.1.1.157
- OS Version: Microsoft Windows NT 10.0.18362.0

It would be nice if there was a progress bar per project to see how many compilation units have been built and how many are remaining.  Possibly even just 'shading' the entire background of the text and changing the gradient over time would be enough.

[2020-02-23 09:49] StefanKert commented on #77
BuidVision 3.0.0 is now available on the official Marketplace :)
- Marketplace: https://marketplace.visualstudio.com/items?itemName=stefankert.BuildVision
- Release Notes: https://github.com/StefanKert/BuildVision/releases/tag/v3.0.0

Thanks to all of you for your help and your patience. I hope I can spend more time in the next few months to bring in additional Features.

Closing this now. Please

[2020-02-23 09:49] #77 closed

[2020-02-23 09:57] StefanKert opened #87 "Fix VS Marketplace deployment"

[2020-02-24 09:58] FilRip opened #88 "BuildVision 3 does not load on VisualStudio 2015"
Hello,

Since BuildVision is now on version 3, sometimes, VisualStudio launch but freeze when launching by double click on a .sln file. But load with success when i launch VisualStudio then load the sln by select it in VS menu "File/Open/projet or solution"

So i have try to uninstall BuildVision, restart VS then reinstall BuildVision and restart VS.

I go to "View/Others Windows/BuildVision" but

[2020-02-24 16:45] PeterJeff commented on #88
I am also having this problem with the same version

[2020-02-25 12:10] sstefan1 commented on #88
Can confirm. VS2015 hangs for me as well.

[2020-02-25 20:07] StefanKert commented on #88
Hey folks,

thanks for raising this. I will need to investigate this further. I´ll let you know as soon as there is an update available.

[2020-02-27 11:14] rb126 opened #89 "Sorting by Build Order has gone wrong in V3"
Hi Stefan - I've noticed sorting by build order seems to have gone wrong since the 3.0 update four days ago.  Projects seem to be appearing at random in the grid view, and if I sort by '#' to fix it and get them in order during a build then new projects to start building then just start popping up again in the middle of all the already-built projects.  Is this just me, or has there been a regressi

[2020-02-27 11:16] rb126 commented on #89
Here's an example - the build order was seemingly random, so I clicked on the '#' column to sort in order around the time project number 74 was building, and you can see that later projects just scattered all over the place after that:

![image](https://user-images.githubusercontent.com/7371821/75439856-7eeef000-5952-11ea-8463-5eefc804e12c.png)

[2020-03-05 14:01] jeffraska opened #90 "Visual Studio crash when publishing web app"
Hi,

my Visual Studio just started to crash when I'm publishing web application. It crashes on FTP login screen.

Some info:
Visual Studio 2019 (16.4.5)
BuildVision 3.0.0.104

Record from Windows Event log:
[code]

[2020-03-05 18:06] martinsmith1968 opened #91 "Selected columns not persisting"
If I make changes to the visible columns, when I close and restart Visual Studio the default columns are shown again.

E.g.
Hide Build Finish Time, Show Framework and Output
Restart Visual Studio
Build Finish Time is visible, Framework and Output are not

Due to the types of project I'm building in VS I have to run VS as administrator - maybe that is having an effect ?

Thanks

[2020-03-11 10:40] pentp commented on #89
I'm having the same issue with Build Order column sorting and also Build start time column.

[2020-03-11 13:13] bdbvb commented on #88
Just an FYI, I'm getting this same issue with Visual Studio 2019 (16.4.6), and can't (usually) get BuildVision to come up, though Visual Studio itself as well as other extensions are OK. The activity log message is:

"CreateInstance failed for package [BuildVisionPackage]Source: 'mscorlib' Description: Exception has been thrown by the target of an invocation. System.Reflection.TargetInvocationExce

[2020-03-13 08:24] daniel-schmidt commented on #91
I can confirm this problem, running VS 2019 not as an administrator.

[2020-03-13 14:42] spboyer opened #92 "Install failed on latest version for 2019"
The install of '' was not successful for all of the selected products.
For more information see...

![image](https://user-images.githubusercontent.com/7681382/76630931-32411280-6517-11ea-8f4c-182c68d481fa.png)

**Log**

[code]

[2020-03-14 19:15] StefanKert commented on #91
Hi folks!

thanks for the heads up. I was able to reproduce this and will try to fix it in the next days :). I´ll let you know as soon as the fix is pushed.

[2020-04-14 11:32] PureKrome opened #93 "BuildVision window always shows when starting VS2019"
When I start VS2019 by double clicking on _an existing `.sln` file` then BuildVision window _always_ shows in the top left corner of VS:

![image](https://user-images.githubusercontent.com/899878/79220311-18d51280-7e97-11ea-9b59-e07ae5d4cba7.png)

I've got it pinned to the bottom of VS (with other windows) and after VS completes loading up, it does disappear and is pinned to the bottom (correctly)

[2020-04-17 12:45] didierdonner commented on #93
Hello,

this happens also with Visual Studio 2017 15.9 too.

Regards,

Didier Donner

[2020-04-20 23:37] jdavis-leasehawk opened #94 "Columns not resizing according to their headers"
- Visual Studio Version: 16.0.29931.138
- BuildVision Version: 3.0.0.104
- OS Version: Microsoft Windows NT 10.0.18363.0

Steps to Reproduce:

1. i don't know what I'm doing special, I have a .net standard class lib project and this is what I see, and if I try resizing the column headers nothing happens
2.
![image](https://user-images.githubusercontent.com/59490349/79809388-2a9a3800-8325-11ea-9d49

[2020-04-21 11:29] yannduran commented on #75
I can confirm that this doesn't seem to be happening in build 3.0.0.104.

[2020-04-21 11:29] #75 closed

[2020-04-21 11:35] yannduran opened #95 "v3.0.0.104 still has a 'Preview' marker in the header"
If I understand correctly, v3.0.0.104 is no longer a _preview_ release? There is still a _preview_ marker in the header:

![image](https://user-images.githubusercontent.com/2031126/79861595-fc495500-8417-11ea-961b-8b6d41cb9823.png)

[2020-04-21 11:41] yannduran opened #96 "Release Note link in the VS Marketplace Is Incorrect"
Under the _Related Links_ heading in the [marketplace page](https://marketplace.visualstudio.com/items?itemName=stefankert.BuildVision), the _Release Notes_ link takes you to:

instead of:

[2020-05-12 08:35] ghost opened #97 "BuildVision fails when VS loads a solution"
I'm running a fresh install of VS 2019 Professional version 16.5.4.
BuildVision 3.0.0.104 is installed.

On loading a solution while VS starts, I get a popup "The 'BuildVisionPackage' package did not correctly. The problem may have been caused by a configuration change or the installation of another extension. You can get more information by examining the file <path hidden>\ActivityLog.xml. Restar

[2020-05-18 09:41] RobLinux opened #98 "Show progress of current solution"
Hello and thanks for providing work to this extension.

I hoped that buildvision would show the progress of the build of the current project.

i.e. I have a solution containing 1 project which itself contains 100 CPP files to build. Is it possible to show the progress of those 100 files ? Or is it an API limitation ?

[2020-05-19 15:32] rb126 commented on #89
Any idea when 3.0.1 with a fix for this might be available?  I've just now rolled back to 2.1.1 and projects are now added to the list in the correct order again.  This was one of the main reasons I used BuildVision - so I could easily see the progress of my build, and this is not possible if the projects are added throughout the build scattered at random somewhere in the list.

[2020-05-22 05:14] StefanKert commented on #98
Hi there!

Thanks for your request. I will have to investigate if we can get build events on a file base :) I´ll keep you updated.

[2020-05-22 05:16] StefanKert commented on #96
Thanks! Fixed :)

[2020-05-22 05:16] #96 closed

[2020-05-22 05:16] StefanKert commented on #95
Indeed! Looks like there is something weird happening in the build pipe. I´ll check that and let you know as soon as it is fixed. Thanks for the heads up

[2020-05-22 05:21] StefanKert commented on #94
Can you try a minimal project that reproduces this issue and upload it? I am currently not able to reproduce this on my local machine. One thing that is maybe worth mentioning is, that the errorlist is a own component, so it is not really resizable at the moment

[2020-05-22 05:23] StefanKert commented on #93
Hi folks!

Thanks for bringing this to my attention. This bug is currently per design, because we are not really able to load BuildVision before the Solution at the moment, at least I didn´t find a good option. Nevertheless I will try to find a workaround to fix this because I agree that this is really annoying.

[2020-05-22 05:32] yannduran commented on #95
Kein problem! Anytime.

[2020-05-26 20:02] eddieparker opened #99 "Feature Request: Percentage of Compile Units Complete?"
- Visual Studio Version: 15.0.28307.1000
- BuildVision Version: 3.0.0.104
- OS Version: Microsoft Windows NT 10.0.18363.0

This isn't an issue, but it'd be nice to know how many compilation units have finished being compiled/failed as a column, perhaps expressed as a percent?

[2020-06-23 12:21] janosimas opened #100 "Feature request: Colors and banner"
I just found this extension and it's really great. Thanks for putting the effort!

About the colors and the banner.
For me, the banner could be smaller. Maybe even splinting the banner in half and using the second half for the buttons (build, clean, errors count...).

About the colors, at least in dark mode, I fell they are too bright. I attached a screenshot show what I mean.
I would not change t

[2020-06-23 15:06] jzabroski commented on #75
@StefanKert Just a question... what is the versioning scheme for BuildVision?  I found this thread because I am on 3.0.0+e9e47924bc, but I can't infer from 3.0.0-preview-1.96+2cf7960452 whether my version is greater or less than that number.  I do know I built this computer in Amazon Workspaces in March, so in theory it should've come after 3.0.0-preview-1.96+2cf7960452 ?

[2020-06-24 01:10] yannduran commented on #75
@jzabroski if you take a look in the _Extension Manager_, a more user-friendly version is displayed there.

I also currently have `v3.0.0+e9e47924bc` installed (& this appears in the tool window tab if you have it docked).

![image](https://user-images.githubusercontent.com/2031126/85485023-48c53280-b60b-11ea-8827-5cc3bcbf391b.png)

In _Extension Manager_ it shows as `3.0.0.104.`.

![image](https:

[2020-06-26 18:21] jzabroski commented on #75
@yannduran It is still difficult to understand which one is greater.  Preview builds do not go on marketplace, so I am trying to understand the lineage of releases between official releases and previews.

[2020-06-26 18:55] StefanKert commented on #75
Hi folks!

sorry for the delay and thanks to @yannduran for jumping in and answering :)

@jzabroski you are definetly right. The versioning is really confusing at the moment. The idea of these versions is based on Semantic Versioning and therefore it should follow the following approach:

Major.Minor.Patch[-Prerelease]+gitHash

So the actual release is 3.0.0+e9e47924bc
If a prerelease flag is adde

[2020-06-26 19:21] jzabroski commented on #75
@StefanKert Thank you.  I love this tool (and the name of it), by the way.  People like you, with an eye for simplicity, are **force multipliers**.

[2020-06-27 10:55] yannduran commented on #95
I think I found why the **_Preview_** marker appears.

In line 43 of `ControlView.xaml` there's a `Border` element whose visibility's being bound to `PreviewVersion` in `BuildVisionPaneViewModel`.

![image](https://user-images.githubusercontent.com/2031126/85920435-28210500-b8b7-11ea-838d-1b6eb8d5ce0a.png)

It's possible that the extension isn't being published using the `Marketplace` configuratio

[2020-07-01 18:38] jzabroski opened #101 "BuildVision Seizes Focus from VS Test Explorer"
@StefanKert I am not an expert in VS IDE Plug-in development, but my basic observation is that when I run a test in Visual Studio, if BuildVision and Test Explorer are in the same tab pane together, BuildVision will steal focus, and when the build succeeds, it does not reflow focus to the Test Explorer or previously focused tab in the tab pane its colocated with.

[2020-07-02 04:50] StefanKert commented on #100
Hi  there :)

thanks for your feedback! You got some good points there :)

Since these icons are very similar to the VS icons do you think it would make sense to show them with a similar brightness as the VS ones?

[2020-07-02 04:57] StefanKert commented on #101
Hi there :)

can you provide a screenshot of your setup? Is this happening with other Tool Windows as well or only the VS Test Explorer?

[2020-07-06 18:15] jzabroski commented on #101
Hi @StefanKert , thanks for your patience.  Had 3 day weekend in US.

It seems like there are a couple of things I notice.

1. When BuildVision is not focused and Output window is focused, BuildVision permanently says Cancel, even after the Build completed without errors.  Clicking Cancel also does nothing, since the Build is completed.  I confirmed the Build is completed by checking the Output wi

[2020-07-08 12:52] janosimas commented on #100
I get what you mean, it makes sense about the colors.

I just noticed after your comment that my output windows in the picture has modified colors.

[2020-07-10 17:15] StefanKert commented on #101
Thanks for the detailed infos :)

I´ll take a look asap at these issues and keep you updated :)

[2020-07-15 07:47] victornovik commented on #89
Dear Stefan,
Could you please fix up this regression bug?
It is really annoying and people have to roll back to the old versions of your useful plugin.

[2020-07-15 08:25] StefanKert commented on #89
Hi @victornovik ,

Thanks for bringing this up again :)

Because of other projects, I don´t have a lot of time for opensource lately, so that is why feature development / bugfixing takes very long. I know that this is not very satisfying and  I am really sorry.

I´ll try to provide a fix this week :)

[2020-07-17 06:05] #95 closed

[2020-07-17 09:39] #91 closed

[2020-07-17 10:35] StefanKert commented on #92
Hi @spboyer ,

sorry for the delay. As I am currently working on 3.0.1 I wanted to ask if you are still facing this issue. Can you please add additional details on the VS Version you are using?

Thanks :)

[2020-07-17 12:55] #89 closed

[2020-07-17 13:10] rb126 commented on #89
Many thanks, Stefan - I look forward to giving this a go.

[2020-07-17 13:25] StefanKert commented on #89
Hi @rb126,

![image](https://user-images.githubusercontent.com/7176615/87790869-8e0f0580-c841-11ea-86f8-004ddc76ade6.png)

Looks good now :)

if you want to give it a shot you can grab the artifact of the latest build https://dev.azure.com/stefankert/_apis/resources/Containers/2834886/VsixGallery?itemPath=VsixGallery%2FBuildVision.vsix

I am happy for any feedback :). I will try to push a release

[2020-07-17 13:38] #32 closed

[2020-07-17 13:39] #33 closed

[2020-07-17 14:02] #81 closed

[2020-07-17 14:29] StefanKert commented on #80
Closing this since it should be fixed :) please reopen / open another issue if this still happens

[2020-07-17 14:29] #80 closed

[2020-07-17 14:31] StefanKert commented on #84
Hi @whazzup,

just checked it with the latest bits and you should be able to just configure that in the Settings.

Tools -> Options -> BuildVision -> Build Messages

![image](https://user-images.githubusercontent.com/7176615/87797362-dbdc3b80-c84a-11ea-9f41-2dc53ca3253e.png)

Instead of the default value which is `mm\:ss` you just put in `hh\:mm\:ss` :) that should show hours for the total time. T

[2020-07-17 14:31] #84 closed

[2020-07-17 14:33] #85 closed

[2020-07-17 14:35] StefanKert commented on #64
Should be resolved with the latest v3. If this still happens please reopen

[2020-07-17 14:35] #64 closed

[2020-07-17 15:20] rb126 commented on #89
Thanks, Stefan, but if 3.0.1 is out later today I'll grab that with the "additional fixes" :-)  Thanks for fixing this one though!

[2020-07-17 16:05] #101 closed

[2020-07-17 16:24] #90 closed

[2020-07-17 16:29] #38 closed

[2020-07-17 16:41] StefanKert commented on #94
This should be corrected in v3.0.1 which is going to go online today. If you are still seeing these problems please reopen or create another issue.

[2020-07-17 16:41] #94 closed

[2020-07-17 16:43] StefanKert commented on #93
This issue should be fixed with the upcoming version 3.0.1. :) BuildVision does behave similar to other extensions now and is hidden until it is properly loaded.

[2020-07-17 16:43] #93 closed

[2020-07-17 17:03] StefanKert commented on #63
Hey there!

Just wanted to let you know that this is reproducable in the latest version and I will try to come up with a solution.

Yes, BuildVision is automatically activated depending on your settings. If you want to disable this you can set BuildVision to not show up on building.

I think a potential fix for this could be another setting that let´s you configure to not moving the keyboardfocus,

[2020-07-17 17:04] StefanKert commented on #88
This should be fixed with the new version 3.0.1. If you are still seeing issues please let me know :)

Thank you a lot for your patience and sorry for the very long time taken for this fix.

[2020-07-17 17:04] #88 closed

[2020-07-17 17:04] #87 closed

[2020-07-17 17:48] StefanKert commented on #89
@rb126 @victornovik the new version can be downloaded from the marketplace now 😃 and orderin should work now

[2020-07-18 11:31] victornovik commented on #89
Hi Stefan

It works now in 3.0.1!
Great job!
I really appreciate your fix.

[2020-07-21 13:10] thoemmi commented on #97
I'm experiencing the same error with VS 2019 Preview (16.7.0 Preview 4) and BuildVision 3.0.1.13:
[code]

[2020-07-23 07:18] StefanKert commented on #97
Hi @thoemmi ,

that is pretty weird. I am currently not able to reproduce this issue. Could you add a screenshot of your BuildVision Installdir? You should find it depending on your Visual Studio version in the Local AppData folder. For me the path is

`%localappdata%\Microsoft\VisualStudio\16.0_85623757\Extensions\e4jutkrq.cnx`

If you have installed just a single verison of Visual just head to

[2020-07-23 14:53] thoemmi commented on #97
@StefanKert , here's a screenshot of BuildVision's installdir, including the version columns:
![image](https://user-images.githubusercontent.com/73690/88301361-d4160e80-cd04-11ea-99dc-7ad66f0a6969.png)

The strange is that it only happens when I open certain solutions. I just haven't recognized any pattern yet.

[2020-07-30 02:35] yuakihiro commented on #97
Because of GitHub Extension or so.
DLL Version Conflict
see serilog/serilog-sinks-file#159

[2020-08-11 02:56] OzBob commented on #97
I've got v 3.0.1.13 on VS 2019 16.6.2 and am getting the same error:

[code]

![image](https://user-images.githubusercontent.com/1796771/89851662-9992e980-dbbf-11ea-8d81-f9ca4740e169.png)

No error on VS2019 preview 16.7.0 preivew 2.0 opening the same project,  with the listing of it's directory as:
![image](https://user-images.githubusercontent.com/1796771/89851988-68ff7f80-dbc0-11ea-83e2-ee89812

[2020-08-11 03:23] yuakihiro commented on #97
@OzBob you also install github extension or other extension?
github extension have older assembly(dll) and conflict with BuildVision(newer assembly)

[2020-08-11 04:49] thoemmi commented on #97
I can confirm that GitHub's version of Serilog.dll ist out-dated.

I've run following command in both the user and the application extensions path:
[code]
In the user extensions folder Serilog is only used by BuildVision:
[code]
However, in the application extension folder serilog is found in the subfolders of both GitHub and Xamarin:
[code]

[2020-08-11 07:02] StefanKert commented on #97
Hi folks!

Thanks for the detailed analysis of this issue :). This really saved me some time. I just created a .vsix package with a downgraded Serilog version. I am currently not able to reproduce it, so if somebody that is facing this issue could check it I´d greatly appreciate it :).

[BuildVision_3_0_2_preview.zip](https://github.com/StefanKert/BuildVision/files/5055267/BuildVision_3_0_2_previe

[2020-08-13 15:31] Anheledir commented on #97
I can confirm that the exception is gone for me with that 3.0.2 preview. 👍

[2020-08-13 20:07] ktopanov commented on #97
I can confirm that the exception is gone for me with that 3.0.2 preview (MS Visual Studio 2017).

[2020-08-14 06:51] thoemmi commented on #97
I have not experienced the issue w/ 3.0.2 in VS2019 Preview anymore, too. 👍

[2020-08-14 07:52] danielgreen-nes commented on #97
Installed that 3.0.2 preview, so far no more errors

[2020-08-17 07:25] bishopnator opened #103 "BuildVision is always closed on VS startup"
Previously the BuildVision window state was saved and after opening VS it was restored properly (it is shown if last time it was shown when VS was closed). Now in version 3.01 the window must be always manually opened after the VS is started.

[2020-08-19 04:41] StefanKert commented on #103
Thanks for bringing this up. Seems like while fixing #93 I removed the logic for keeping BuildVision up. I´ll try to bring up a fix asap.

[2020-08-19 04:41] StefanKert commented on #97
Thanks for testing folks!

I´ll try to bring in another fix (#103) and release 3.0.2 by the end of this week.

[2020-08-27 17:16] DrGriff opened #104 "BuildVision is not displaying"
- Visual Studio Version: 16.0.30413.136
- BuildVision Version: 3.0.1.13
- OS Version: Microsoft Windows NT 10.0.18363.0

Steps to Reproduce:

1. I have installed it in both Visual Studio 2019 and 2019 Preview, it was working for a while
2. It then stopped working.  I have not changed any of the default behaviour for this extension

[2020-10-02 15:52] NPadrutt commented on #103
Is there an update to this issue? :)

[2020-10-09 08:22] StefanKert commented on #103
Hi folks :)

sorry for the delay. I just released 3.0.2  which contains the fix :)

[2020-10-09 08:22] #103 closed

[2020-10-09 08:23] StefanKert commented on #104
Is this related to #103 ? If yes it should be fixed with 3.0.2 :)

[2020-10-09 11:55] DrGriff commented on #104
I don't think so....

I'm now running 3.0.2.2 of BuildVision.  It's showing as installed and not disabled.

Under Tools > Options I see the following checked:
**General**

- Display build progress n Windows Taskbar (Reset after mouse click)
- Show indicators panel
- Fill projects list on build begin
- Display messages in VisualStudio Status Bar
- Help improve....

**Project Item**

- Built assembl

[2020-12-05 07:36] #60 closed

[2020-12-22 18:32] gamagan opened #105 "Usage feedback"
This is a fantastic extension. Thanks for making it.

I'm writing to give some feedback based on my current usage.  Nothing major, but nice to haves.

I'm using it from VS2019, latest version as of this ticket, 16.8.3

Bugs/Issues:
- If you change which columns are displayed from default then, if you make a settings change, the displayed columns go back to default.
- When initially opening the IDE

[2021-02-15 22:38] davkean opened #106 "BuildVision causing ThreadPool thread leaking"
Hey, I'm from the Visual Studio performance team @ Microsoft.

We automatically capture data from Visual Studio instances with runaway thread and memory leaks, and BuildVision is showing up a top leak due to the following call stack:

[code]

Here we have a ThreadPool thread firing up based on a timer and trying perform a COM RPC to the UI thread to query a service. While the UI thread is busy, th

[2021-02-16 07:22] StefanKert commented on #106
Hi @davkean,

thank you very much for bringing that up. I wasn´t aware of the huge memory consumption / issues that BuildVision is causing.

I´ll check the PR in the next hour :) Thanks a lot.

If there is anything else that you have noticed while debugging / perfchecking please let me know.

[2021-02-16 07:52] StefanKert opened #108 "Concurrent calls to GetService should be prevented"
In BuildVision we do have many places where we call GetService and some of them are also happening overlapping (#106).

The following classes can be improved

- StatusBarNotificationService
- ...

[2021-02-16 08:51] #106 closed

[2021-03-17 19:53] NPadrutt opened #109 "View has to be opened once manually on startup"
First of all, thanks for your work. I really appreciate this extension!

The one issue I have, is that everytime when I open a solution I have to first open the BuildVision tab manually,  otherwise it won't open automatically on a build.  All of my views like the Error View, Output, etc. are minimized per default, to have as much real estate for my code view as possible - especially on a laptop. B

[2021-07-14 06:14] stevoma opened #111 "Extremely slow build with unchanged projects (v3.0.2.2 compared to v3.0.0)"
Visual Studio 2015 SP3, BuildVersion 3.0.2.2
With BuildVersion 3.0.2.2, the build process of projects that have not been changed and therefore do not need to be compiled is very slow. This cannot be used with approx. 300 projects in the solution (it takes approx. 12 minutes).
In version 3.0.0 this is fine (approx. 30 seconds).

[2021-08-18 23:54] michael-hawker commented on #3
I think this may have regressed. I installed the latest 3.0.2.2 version and I didn't see the `ElapsedTime` column updating for the row marked `Building`. It stayed at `00:00`:

![image](https://user-images.githubusercontent.com/24302614/129986576-c757692a-bf05-4596-abb1-9320fd4fc1c1.png)

[2021-10-03 19:36] D0ctorWh0 opened #112 "VisualStudio 2022 support"
Can this extension be updated to support Visual Studio 2022?

[2021-11-08 16:16] AgWillow commented on #112
Please do.
[_Devoted fan_]

[2021-11-11 06:17] willl commented on #112
Here's a [VS 2022 extension upgrade guide](https://docs.microsoft.com/en-us/visualstudio/extensibility/migration/update-visual-studio-extension?view=vs-2022) if anyone wants to give it a go. Not sure how much work would be involved for the upgrade.

VS 2019 support was also a community contribution https://github.com/StefanKert/BuildVision/pull/69

[2021-11-19 18:00] StefanKert commented on #112
Hi folks,

currently giving it a shot. I will try to publish a version that works with 2022 today.

[2021-11-19 20:34] StefanKert commented on #112
So after a quick investigation it looks like the upgrade is a bit tricky, since some of the events that have been used aren't available anymore in VS 2022. I'll take a look at this in the next days and keep you updated.

[2021-11-21 20:18] StefanKert commented on #112
Just pushed a preview to the [VSIX Gallery - BuildVision](https://www.vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807b758a929f). Currently there is a known issue with showing build errors. Somehow the hook-in point for MSBuild is not available anymore, but I'll check that in the next days. Any feedback is greatly appreciated. If you have troubles setting up the VSIX Gallery in VS checkout th

[2021-11-29 12:41] roalz commented on #112
I've installed the 3.1.0.2 preview above on both VS2019 and VS2022, so far I have not seen any problem,
except (as you wrote) for the lack of errors details under a failing project in VS2022 (still working fine in VS2019).

[2021-12-01 16:11] BroMarduk opened #114 "BuildVision for 2022 Causing Solution Explorer to sort Folders in different order"
After installing the preview for BuildVision for 2022, I noticed that my folders in Solution Explorer are now sorted differently.  Normally they are alphabetical, but after installing BuildVision they seem to be sorted in the order the projects are loaded from the solution.  (All of our projects are in folders, so I don't know if it affects the sorting of projects as well).

If I move stuff around

[2021-12-15 13:46] nitz opened #115 "Massive 'extension.log' file in %localappdata%\BuildVision"
Hello!

My hard drive was getting close to full so I was cleaning up large files where I could. I found an 8.7 _Gigabyte_ file: `%localappdata%\BuildVision\extension.log`.

It looks like it contains logs dating back to when I installed the extension (~10 May 2021) to current.

I definitely know the desire to keep logs, but a nearly 9 gigabyte file after 6-7 months of use for an extension is a bit

[2022-01-23 23:04] Pursche commented on #112
I'm a huge fan of this extension. I've tried the 3.1.0.2 preview on VS2022 and other than the mentioned lack of errors the only "issue" I'm having is that successful builds are showing up as UpToDate.

[2022-02-11 21:46] StefanKert commented on #112
Just published the latest preview version to the Feed that should fix the missing error details. [3.1.0.3](https://www.vsixgallery.com/extension/837c3c3b-8382-4839-9c9a-807b758a929f)

@Pursche looks like this issue is reproducible for me I'll try to include it in the next preview that will be the final preview before release.

[2022-02-11 21:50] StefanKert commented on #114
Hi there,

this is actually very weird. I have tried reproducing this issue, but I wasn't able to get that behavior. Are you able to provide a .sln that can be used to reproduce this issue? Thanks in advance @BroMarduk  :)

[2022-02-12 04:03] BroMarduk commented on #114
See attached solution below and the steps to reproduce this.

Here is a test solution I used.
[VideoGames.zip](https://github.com/StefanKert/BuildVision/files/8052644/VideoGames.zip)

- Open Visual Studio 2022
- Install the BuildVision extension.
- Close Visual Studio 2022 and let extension install
- Open Visual Studio 2022
- Open the test solution.
- Files are sorted alphabetically in Solution Ex

[2022-02-21 22:19] StefanKert commented on #112
🎉 🎉 🎉 🎉 v3.1.0 with VS 2022 support has just been pushed to the Marketplace. Thank you very much for all the comments and the feedback for the previews :). If anyone is facing any issues with the news version please open another issue :)

[2022-02-21 22:19] #112 closed

[2022-02-22 10:36] 3x71 opened #117 "Projects Grid doesn't update after build"
Visual Studio 2022 17.1.0, BuildVision 3.1.0

![example](https://user-images.githubusercontent.com/51165404/155113917-bfaa9a7a-cf82-4494-aa0e-a83d5afb299f.PNG)

[2022-02-23 06:02] willl commented on #114
I've observed similar happening with a solution of mine but didn't think it was possibly related to BuildVision.

I'm able to replicate this behaviour in one particular solution we have, but not others with the BuildVision window as described in the previous post. I don't even need to re-start VS 2022, just need to reload the solution (via File > Recent Projects and Solutions).

Our solution struc

[2022-02-23 09:58] praktii commented on #117
I've noticed, that the progressbar that should show the complete Buildprogress, i guess,  isnt updating aswell.

[2022-02-23 20:27] EugeneSasin commented on #97
Hello! The bug is back. I once caught this error when I was using the latest (3.1.0) version.
I installed versions 3.0.2 and 2.1.1 and the bug was fixed the first time I started VS. But it returned after restarting VS. I use VS 2017
![image](https://user-images.githubusercontent.com/36226389/155402645-9933e508-df31-4037-875d-32edbceede19.png)

[2022-02-24 22:05] BroMarduk commented on #114
After some more experimentation, I can't say 100% the window being docked is necessary.   It will happen eventually even without the window docked.

[2022-02-26 13:25] gamagan commented on #117
Running into these same issues.

[2022-03-06 23:01] Graupner commented on #117
VisualStudio 2019 Buildvision 3.1.0.7

1. Columns Warnings and Errors always empty (no Update)
2. Elapsed time of each project increases when a project is completed.
3. Strange Version Number in Caption Bar

![BuildVision_VS2019](https://user-images.githubusercontent.com/20925581/156945781-a8620fb4-d4d2-4c01-abaa-1b6c47b07b50.png)

[2022-03-06 23:06] Graupner commented on #117
C:\Users\XXX\AppData\Local\BuildVision\extension.log

2022-03-06 23:56:56.133 [03552] EROR [01] SolutionBuildEvents
System.NullReferenceException: Object reference not set to an instance of an object.
   at BuildVision.Core.BuildInformationProvider.GetProjectState(Boolean success, Boolean canceled, IProjectItem currentProject)
   at BuildVision.Core.BuildInformationProvider.ProjectBuildFinished(Bu

[2022-03-16 14:19] stamminator opened #118 "2022: Publish freezes VS indefinitely when BuildVision is installed"
In VS 2022, doing an ASP.NET (.NET Framework 4.8) publish makes the IDE go unresponsive. I've let it sit for 10 minutes with no results: I have to restart VS. With BuildVision uninstalled, the publish happens in about 30 seconds. Works fine in VS 2019. Due to this, I cannot use BuildVision.

Please provide guidance on what log info I need to pull which might help troubleshoot this.

[2022-03-18 21:47] gnimor opened #119 "Progress Bar"
When opening the BuildVision window, there is a progress bar in the upper area. Nevertheless, building a solution with multiple projects does not change the progress bar (stays on 0%).

[2022-04-29 07:14] OzBob commented on #97
@EugeneSasin can you try installing and testing on VS2022

[2022-04-29 14:30] chucker opened #120 "Fails to launch on 2022 17.2.0 Preview 5.0"
From `ActivityLog.xml`:

    	SetSite failed for package [BuildVisionPackage]Source: 'Microsoft.VisualStudio.Validation' Description: Cannot find an instance of the Microsoft.VisualStudio.Shell.Interop.IVsSolutionBuildManager5 service.

VS otherwise works fine, so particular error is a bit puzzling. Perhaps the extension is loaded too early?

[2022-05-10 22:43] michael-hawker commented on #120
I'm seeing the same (with the same error message) in the latest 17.2.0 stable release.

[code]

[2022-05-14 07:08] StefanKert commented on #120
Hi folks,

currently checking this and I'll let you know if there is a fix available :) thanks for reporting

[2022-05-14 07:58] StefanKert commented on #120
So here is a quick update.

It seems like one of the interfaces that is being used in BuildVision for listening to BuildEvents (`icrosoft.VisualStudio.Shell.Interop.IVsSolutionBuildManager5`) is conflicting somehow with version 17.2.

The interface type that is expected is located in `Microsoft.VisualSTudio.Interop` assembly, which is the case for most other BuildManagers, but not version 5.

![im

[2022-06-04 20:27] GitSparTV commented on #120
+1 for this

[2022-06-13 20:47] latenightsurfer opened #121 "BuildVision 3.1.0.7 failed to load after VS Update to 17.0.32526.225"
After updating VS 2022 I get the following Exeption:

An exception was encountered while constructing the content of this frame.  This information is also logged in "C:\Users\xxx\AppData\Roaming\Microsoft\VisualStudio\17.0_3e18f44f\ActivityLog.xml".

Exception details:
System.Exception: Exception of type 'System.Exception' was thrown.
   at Microsoft.VisualStudio.Shell.Interop.IVsShell5.LoadPackag

[2022-06-20 09:09] latenightsurfer commented on #120
can you estimate when there will be a fix available?

[2022-07-11 12:22] alexdresko opened #122 "Completely destroyed my VS 2022 installation"
I cannot load VS without getting a ton of errors after installing this plugin. I will probably have to reset VS to defaults in order to get any work done today. I do not have time to troubleshoot this, but I figured it was worth creating an issue so others might know of the danger.

[2022-07-25 06:42] jgo-bvb commented on #122
Probably #120 @alexdresko ? Just uninstall the extension and you should be fine

[2022-07-25 14:23] jzabroski commented on #120
@latenightsurfer Can you go fix the issue?  These questions aren't helpful and what makes open source software in .NET so bad at times.

[2022-08-25 08:22] Janek91 commented on #120
@latenightsurfer any news?

[2022-08-25 15:33] mitchcapper commented on #120
Seriously take a hint.   Unless you have something to contribute in terms of technical assistance, technical details, or monetary assistance for the project please do not post unhelpful comments.   These sort of comments can be demotivating.    One of the contributors has already said they will post when they want updates. SO you want 'news' @Janek91, hit the subscribe button in the upper right of

[2022-09-03 16:18] ccaioccesar opened #123 "Not working on visual studio 2022"
I'm getting this message after installing it on vs2022:

![image](https://user-images.githubusercontent.com/73500606/188279326-83c9f7c1-29a8-4830-96a0-af65d9f9092a.png)

I tested on two different machines (win10), the second one is a clean installation of vs22 without any third-party extension, and I got this message box on both.

Version 17.3.3

[2022-09-10 07:12] StKuhn commented on #123
Error message in Activity Log:
`<entry>
    <record>327</record>
    <time>2022/09/10 07:03:50.814</time>
    <type>Information</type>
    <source>VisualStudio</source>
    <description>Begin package load [BuildVisionPackage]</description>
    <guid>{837C3C3B-8382-4839-9C9A-807B758A929F}</guid>
  </entry>
  <entry>
    <record>328</record>
    <time>2022/09/10 07:03:50.949</time>
    <type>Error</

[2022-09-16 11:09] kenny1983 commented on #120
Wow...I totally get where you're coming from mate, but geez, that was just a bit harsh don't you think?? If you're going to be like that, I'll completely forget about ever supporting this extension. Thanks +1

[2022-09-16 11:18] chucker commented on #120
@kenny1983 Mitch isn’t the developer, FWIW

[2022-09-16 11:35] kenny1983 commented on #120
Yeah I realise that now. Edited my comment accordingly.
On Fri, 16 Sept 2022, 9:19 pm Sören Nils Kuklau, ***@***.***>
wrote:

[2022-09-16 20:25] mitchcapper commented on #120
Yes. As subtly generally doesn't seem to work.  The developer previously stated

- `I'll do further checks and keep you posted :)`

- @latenightsurfer then felt asking the developer if they could estimate when it would be fixed was appropriate
- jzabroski then pointed out the fact its open source so if you need it fixed you are welcome to contribute to do so and the fact these questions annoy many

[2022-09-16 22:17] michael-hawker commented on #123
Duplicate of #120

[2022-09-16 22:23] michael-hawker commented on #120
Looks like [this branch](https://github.com/StefanKert/BuildVision/tree/vs2022_02fix) was started by the developer to start working on a fix (as they had stated). Not sure what's left for it to be completed. I'm not too familiar with the intricacies of building VS extensions. Wonder if @madskristensen would be willing to help here, as this was an amazing extension for VS. Without it building proje

[2022-09-16 22:42] chucker commented on #120
So, [I made a branch.](https://github.com/chucker/BuildVision/tree/fixes/120-vs17.2-compat) It looks like something in 17.2 and beyond broke the binary compatibility of `IVsSolutionBuildManager5`. If I reference `Microsoft.VisualStudio.SDK` `17.0.31902.203` or newer, it works. If I reference `16.10.31321.278` or older, this returns `null`:

            _solutionBuildManager4 = await GetServiceAsyn

[2022-09-16 22:45] chucker commented on #120
I'm guessing he'd rather solve it _without_ reflection. I'm not sure it's possible to do that while maintaining VS 2019 compat.

(This seems like a bug on MS's end.)

[2022-09-20 13:03] aeris170 commented on #117
@StefanKert sorry for tagging you but could we get an update on this? The plugin is next to useless if this issue is not resolved.

[2022-09-26 09:56] Mostlypyjamas commented on #120
I reckon no major problem with losing VS2019 compatibility - if someone is still running 2019, then presumably they could stick with an older version?  Maybe as a suggestion this is BuildVision 2022 - certainly many of the extensions I use have had to issue a 2022 version including a fair few of Mads' ones :-)

[2022-09-26 11:06] StefanKert commented on #123
Hi folks,

as @michael-hawker stated this is a duplicate so I'll post an update there. Sorry for the delay.

[2022-09-26 11:06] #123 closed

[2022-09-26 11:08] StefanKert commented on #122
Hi @alexdresko,

thank you very much for reaching out and sorry for the inconvenience caused. As @jgo-bvb posted, I do hope that uninstalling the extension helped resolving this issue. As I am not sure yet if this is a duplicate of #120 I'll keep this issue open.

If you have got a ActivityLog of the crash I can do further checks @alexdresko

[2022-09-26 11:08] StefanKert commented on #121
Yep sorry guys.. this is actually related to #120 will close that and post an update there.

[2022-09-26 11:08] #121 closed

[2022-09-26 11:27] StefanKert commented on #120
Hi folks,

so first of all, I am very sorry for all the inconveniences and troubles that the extension has caused in the new VS update. As of private reasons I did not have a lot of time in the last months to focus enough on BuildVision and the changes that have been introduced in VS 2022 hit the extension pretty hard. There have been some under the hood changes that will probably require to have

[2022-09-30 06:43] StefanKert commented on #120
Hi folks,

so quick update from my end. I am afraid that we will not have the possibility to have a single BuildVision extension working properly for VS2022 (+ Out Of Process) and VS 2019. Also I really think that the new model available in VS 2022 can help BuildVision gain additional performance and decrease the impact.

Having said that there are actually two options and I just wanted to share t

[2022-09-30 06:49] chucker commented on #120
I asked over on the community toolkit repo, and apparently, [you can publish multiple versions under the same name.](https://github.com/VsixCommunity/Community.VisualStudio.Toolkit/discussions/379#discussioncomment-3733509)

[2022-09-30 07:11] StefanKert commented on #120
@chucker wow I have totally overlooked that. So I am not sure though if that also works for VS 2019 because the blogpost explicitly states "if you have upgraded your extension."

I was also very quickly checking the mentioned extension in the marketplace and currently I don't have this option to download the different architectures. Also the code doesn't in the github repo doesn't have the necessa

[2022-10-11 08:25] kenny1983 commented on #120
Dude...I get it OK? I'm a developer myself and yes, nagging users are the
worst. Especially ones that blatantly disregard the well-known etiquette of
matters like this.

You know what's even worse though? People who discourage contribution to a
project by lashing out about it. Did you have your cranky pants on when you
wrote that? Or had you just not eaten in a while?

I was thinking about taking

[2022-10-11 15:40] mitchcapper commented on #120
One can't have some thing worse than the worst, but we will just assume you were going for me being the worst of the worse.    Hopefully, as you read this read, it has become clear that I am not the developer of this plugin and further the developer directly disagrees with my statements.  They have even stated they value all voices even those asking for input.

I was not "cranky" but again trying

[2022-10-11 16:52] chucker commented on #120
It's not Stefan's assembly that needs to versions, but rather a Microsoft dependency. It may be possible to place all those in two separate subdirs and dynamically load one or the other, but I'm not sure that's worth the effort.

[2022-10-11 16:59] mitchcapper commented on #120
Yeah, essentially they could have 3 projects the base project, and then the two vs 2022 and vs2019 projects which could reference different packages use  a shared project for 99% of the code.  Essentially a plugin architecture and one doesn't need to worry about which sub deps to load as just by adding the right sub directory for resolution all the binaries would come from there rather than the ot